@import '../variables';

@media screen {

  a,
  .a,
  .anchor {
    transition: all ease 1s;
  }

  a:link,
  a:visited,
  .anchor {
    color: $color-primary-dark;
    text-decoration-line: underline;
  }

  .light a:link,
  .light a:visited,
  .light .anchor,
  a:link.light,
  a:visited.light,
  .anchor.light {
    color: $color-primary-light;
    text-decoration-line: underline;
  }

  /* Visited */
  a:visited,
  a.visited,
  .anchor:visited,
  .anchor.visited,
  .a-visited,
  a:link:visited,
  a:link.visited,
  a:link.a-visited {
    background-color: transparent;
    text-decoration-line: underline;
    outline: none;
    opacity: 0.75;
  }

  /* Hover */
  a:hover,
  a.hover,
  .anchor:hover,
  .anchor.hover,
  .a-hover,
  a:link:hover,
  a:link.hover,
  a:link.a-hover {
    color: white !important;
    text-decoration-line: none;
    outline: thin dotted;
    background-color: $bg-hover-dark;
    opacity: 1;
  }

  /* Focus */
  a:focus,
  a.focus,
  .anchor:focus,
  .anchor.focus,
  .a-focus,
  a:link:focus,
  a:link.focus,
  a:link.a-focus {
    color: black !important;
    background-color: $color-focus-dark;
    text-decoration-line: none;
    outline: thin solid $color-focus-dark;
    opacity: 1;
  }

  /* Active */
  a:active,
  a.active,
  .anchor:active,
  .anchor.active,
  .a-active,
  a:link:active,
  a:link.active,
  a:link.a-active {
    color: black !important;
    background-color: white;
    text-decoration-line: none;
    outline: thin solid white;
    opacity: 1;
  }

  /* Disbaled */
  a.disabled,
  a[href].disabled,
  a.disabled:link,
  a.disabled:visited,
  a.disabled:hover,
  a.disabled:focus,
  a.disabled:active,
  .anchor.disabled,
  .a.disabled {
    color: $gray-5 !important;
    background-color: transparent;
    text-decoration-line: line-through !important;
    cursor: not-allowed !important;
    outline: none;
  }
}