@import '../variables';

details {}

details>summary {
  color: $color-primary-dark;
  text-decoration: underline;
  min-height: 2.75em;
  line-height: 2.75em;
  transition: all ease 1s;
}

details>summary:focus {
  background-color: $color-primary-dark;
  border-color: $color-primary-dark;
  color: black;
  padding-left: 1em;
  outline: thin solid $color-primary-dark;
}

details>summary:active {
  background-color: white;
  color: black;
  padding-left: 1em;
}

details>summary:hover {
  background-color: $bg-hover-dark;
  color: white;
  cursor: pointer;
  padding-left: 1em;
}