/* START Text-Level Semantics */
abbr,
.abbr {
  text-decoration: none;
  border-bottom: thin dotted;
  cursor: help;
}

a abbr,
a .abbr {
  cursor: pointer;
}

b,
.b {
  font-weight: bolder;
}

bdi,
.bdi {}

bdo,
.bdo {}

cite,
.citation,
.cite {}

dfn,
.definition,
.dfn {
  font-style: normal;
  font-weight: bolder;
}

em,
.em {
  font-style: oblique;
}

i,
.i {
  font-style: italic;
}

kbd,
.kbd {}

mark,
.mark {
  color: black;
  background-color: cyan;
  padding: 0.25em;
}

q,
.q {}

ruby,
.ruby {}

rt,
.rt {}

rp,
.rp {}

s,
.strikethrough,
.s {
  text-decoration: line-through;
}

samp,
.sample,
.samp {}

small {}

span {}

strong,
.strong {
  font-weight: bolder;
}

sub {}

sup {}

time {}

u,
.u {
  text-decoration: underline;
}

var,
.var {}