/* START borders.scss */
.border {
  border: 0.0625em solid #999999;
}

.border-radius {
  border-radius: 0.25em;
}

/* Border Styles Array */
/* Each Loop to Generate Classes */
.border-style-none,
.border-none {
  border-style: none;
}

.border-style-hidden,
.border-hidden {
  border-style: hidden;
}

.border-style-dotted,
.border-dotted {
  border-style: dotted;
}

.border-style-dashed,
.border-dashed {
  border-style: dashed;
}

.border-style-solid,
.border-solid {
  border-style: solid;
}

.border-style-double,
.border-double {
  border-style: double;
}

.border-style-groove,
.border-groove {
  border-style: groove;
}

.border-style-ridge,
.border-ridge {
  border-style: ridge;
}

.border-style-inset,
.border-inset {
  border-style: inset;
}

.border-style-outset,
.border-outset {
  border-style: outset;
}

.border-style-initial,
.border-initial {
  border-style: initial;
}

.border-style-inherit,
.border-inherit {
  border-style: inherit;
}

/* Border Color */
/* Each Loop to Generate Classes */
.border-color-black,
.border-black {
  border-color: black;
}

.border-color-white,
.border-white {
  border-color: white;
}

.border-color-brand,
.border-brand {
  border-color: #ADCFFF;
}

.border-color-primary,
.border-primary {
  border-color: #ADCFFF;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
}

.border-left {
  border-left-style: solid;
  border-left-width: 0.0625em;
}

.border-radius {
  border-radius: 0.25em;
}

.border-right {
  border-right-style: solid;
  border-right-width: 0.0625em;
}

.border-top {
  border-top-style: solid;
  border-top-width: 0.0625em;
}

.border-width {
  border-width: 0.0625em;
}

.border-width-inherit {
  border-width: inherit;
}

.border-width-thick,
.border-thick {
  border-width: thick;
}

.border-width-thin,
.border-thin {
  border-width: thin;
}

.border-width-medium,
.border-medium {
  border-width: medium;
}

/* Each Loop to Generate Classes */
.border-width-0,
.border-0 {
  border-width: 0;
}

.border-top-width-0,
.border-top-0 {
  border-top-width: 0;
}

.border-bottom-width-0,
.border-bottom-0 {
  border-bottom-width: 0;
}

.border-left-width-0,
.border-left-0 {
  border-left-width: 0;
}

.border-right-width-0,
.border-right-0 {
  border-left-width: 0;
}

.border-x-0 {
  border-left-width: 0;
  border-right-width: 0;
}

.border-y-0 {
  border-top-width: 0;
  border-bottom-width: 0;
}

.border-width-1px,
.border-1px {
  border-width: 1px;
}

.border-top-width-1px,
.border-top-1px {
  border-top-width: 1px;
}

.border-bottom-width-1px,
.border-bottom-1px {
  border-bottom-width: 1px;
}

.border-left-width-1px,
.border-left-1px {
  border-left-width: 1px;
}

.border-right-width-1px,
.border-right-1px {
  border-left-width: 1px;
}

.border-x-1px {
  border-left-width: 1px;
  border-right-width: 1px;
}

.border-y-1px {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-width-2px,
.border-2px {
  border-width: 2px;
}

.border-top-width-2px,
.border-top-2px {
  border-top-width: 2px;
}

.border-bottom-width-2px,
.border-bottom-2px {
  border-bottom-width: 2px;
}

.border-left-width-2px,
.border-left-2px {
  border-left-width: 2px;
}

.border-right-width-2px,
.border-right-2px {
  border-left-width: 2px;
}

.border-x-2px {
  border-left-width: 2px;
  border-right-width: 2px;
}

.border-y-2px {
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.border-width-3px,
.border-3px {
  border-width: 3px;
}

.border-top-width-3px,
.border-top-3px {
  border-top-width: 3px;
}

.border-bottom-width-3px,
.border-bottom-3px {
  border-bottom-width: 3px;
}

.border-left-width-3px,
.border-left-3px {
  border-left-width: 3px;
}

.border-right-width-3px,
.border-right-3px {
  border-left-width: 3px;
}

.border-x-3px {
  border-left-width: 3px;
  border-right-width: 3px;
}

.border-y-3px {
  border-top-width: 3px;
  border-bottom-width: 3px;
}

.border-width-4px,
.border-4px {
  border-width: 4px;
}

.border-top-width-4px,
.border-top-4px {
  border-top-width: 4px;
}

.border-bottom-width-4px,
.border-bottom-4px {
  border-bottom-width: 4px;
}

.border-left-width-4px,
.border-left-4px {
  border-left-width: 4px;
}

.border-right-width-4px,
.border-right-4px {
  border-left-width: 4px;
}

.border-x-4px {
  border-left-width: 4px;
  border-right-width: 4px;
}

.border-y-4px {
  border-top-width: 4px;
  border-bottom-width: 4px;
}

.border-width-5px,
.border-5px {
  border-width: 5px;
}

.border-top-width-5px,
.border-top-5px {
  border-top-width: 5px;
}

.border-bottom-width-5px,
.border-bottom-5px {
  border-bottom-width: 5px;
}

.border-left-width-5px,
.border-left-5px {
  border-left-width: 5px;
}

.border-right-width-5px,
.border-right-5px {
  border-left-width: 5px;
}

.border-x-5px {
  border-left-width: 5px;
  border-right-width: 5px;
}

.border-y-5px {
  border-top-width: 5px;
  border-bottom-width: 5px;
}

.border-width-6px,
.border-6px {
  border-width: 6px;
}

.border-top-width-6px,
.border-top-6px {
  border-top-width: 6px;
}

.border-bottom-width-6px,
.border-bottom-6px {
  border-bottom-width: 6px;
}

.border-left-width-6px,
.border-left-6px {
  border-left-width: 6px;
}

.border-right-width-6px,
.border-right-6px {
  border-left-width: 6px;
}

.border-x-6px {
  border-left-width: 6px;
  border-right-width: 6px;
}

.border-y-6px {
  border-top-width: 6px;
  border-bottom-width: 6px;
}

.border-width-0_25em,
.border-0_25em {
  border-width: 0.25em;
}

.border-top-width-0_25em,
.border-top-0_25em {
  border-top-width: 0.25em;
}

.border-bottom-width-0_25em,
.border-bottom-0_25em {
  border-bottom-width: 0.25em;
}

.border-left-width-0_25em,
.border-left-0_25em {
  border-left-width: 0.25em;
}

.border-right-width-0_25em,
.border-right-0_25em {
  border-left-width: 0.25em;
}

.border-x-0_25em {
  border-left-width: 0.25em;
  border-right-width: 0.25em;
}

.border-y-0_25em {
  border-top-width: 0.25em;
  border-bottom-width: 0.25em;
}

.border-width-0_33em,
.border-0_33em {
  border-width: 0.33em;
}

.border-top-width-0_33em,
.border-top-0_33em {
  border-top-width: 0.33em;
}

.border-bottom-width-0_33em,
.border-bottom-0_33em {
  border-bottom-width: 0.33em;
}

.border-left-width-0_33em,
.border-left-0_33em {
  border-left-width: 0.33em;
}

.border-right-width-0_33em,
.border-right-0_33em {
  border-left-width: 0.33em;
}

.border-x-0_33em {
  border-left-width: 0.33em;
  border-right-width: 0.33em;
}

.border-y-0_33em {
  border-top-width: 0.33em;
  border-bottom-width: 0.33em;
}

.border-width-0_5em,
.border-0_5em {
  border-width: 0.5em;
}

.border-top-width-0_5em,
.border-top-0_5em {
  border-top-width: 0.5em;
}

.border-bottom-width-0_5em,
.border-bottom-0_5em {
  border-bottom-width: 0.5em;
}

.border-left-width-0_5em,
.border-left-0_5em {
  border-left-width: 0.5em;
}

.border-right-width-0_5em,
.border-right-0_5em {
  border-left-width: 0.5em;
}

.border-x-0_5em {
  border-left-width: 0.5em;
  border-right-width: 0.5em;
}

.border-y-0_5em {
  border-top-width: 0.5em;
  border-bottom-width: 0.5em;
}

.border-width-0_67em,
.border-0_67em {
  border-width: 0.6667em;
}

.border-top-width-0_67em,
.border-top-0_67em {
  border-top-width: 0.6667em;
}

.border-bottom-width-0_67em,
.border-bottom-0_67em {
  border-bottom-width: 0.6667em;
}

.border-left-width-0_67em,
.border-left-0_67em {
  border-left-width: 0.6667em;
}

.border-right-width-0_67em,
.border-right-0_67em {
  border-left-width: 0.6667em;
}

.border-x-0_67em {
  border-left-width: 0.6667em;
  border-right-width: 0.6667em;
}

.border-y-0_67em {
  border-top-width: 0.6667em;
  border-bottom-width: 0.6667em;
}

.border-width-0_75em,
.border-0_75em {
  border-width: 0.75em;
}

.border-top-width-0_75em,
.border-top-0_75em {
  border-top-width: 0.75em;
}

.border-bottom-width-0_75em,
.border-bottom-0_75em {
  border-bottom-width: 0.75em;
}

.border-left-width-0_75em,
.border-left-0_75em {
  border-left-width: 0.75em;
}

.border-right-width-0_75em,
.border-right-0_75em {
  border-left-width: 0.75em;
}

.border-x-0_75em {
  border-left-width: 0.75em;
  border-right-width: 0.75em;
}

.border-y-0_75em {
  border-top-width: 0.75em;
  border-bottom-width: 0.75em;
}

.border-width-1em,
.border-1em {
  border-width: 1em;
}

.border-top-width-1em,
.border-top-1em {
  border-top-width: 1em;
}

.border-bottom-width-1em,
.border-bottom-1em {
  border-bottom-width: 1em;
}

.border-left-width-1em,
.border-left-1em {
  border-left-width: 1em;
}

.border-right-width-1em,
.border-right-1em {
  border-left-width: 1em;
}

.border-x-1em {
  border-left-width: 1em;
  border-right-width: 1em;
}

.border-y-1em {
  border-top-width: 1em;
  border-bottom-width: 1em;
}

.border-width-1_25em,
.border-1_25em {
  border-width: 1.25em;
}

.border-top-width-1_25em,
.border-top-1_25em {
  border-top-width: 1.25em;
}

.border-bottom-width-1_25em,
.border-bottom-1_25em {
  border-bottom-width: 1.25em;
}

.border-left-width-1_25em,
.border-left-1_25em {
  border-left-width: 1.25em;
}

.border-right-width-1_25em,
.border-right-1_25em {
  border-left-width: 1.25em;
}

.border-x-1_25em {
  border-left-width: 1.25em;
  border-right-width: 1.25em;
}

.border-y-1_25em {
  border-top-width: 1.25em;
  border-bottom-width: 1.25em;
}

.border-width-1_5em,
.border-1_5em {
  border-width: 1.5em;
}

.border-top-width-1_5em,
.border-top-1_5em {
  border-top-width: 1.5em;
}

.border-bottom-width-1_5em,
.border-bottom-1_5em {
  border-bottom-width: 1.5em;
}

.border-left-width-1_5em,
.border-left-1_5em {
  border-left-width: 1.5em;
}

.border-right-width-1_5em,
.border-right-1_5em {
  border-left-width: 1.5em;
}

.border-x-1_5em {
  border-left-width: 1.5em;
  border-right-width: 1.5em;
}

.border-y-1_5em {
  border-top-width: 1.5em;
  border-bottom-width: 1.5em;
}

.border-width-2em,
.border-2em {
  border-width: 2em;
}

.border-top-width-2em,
.border-top-2em {
  border-top-width: 2em;
}

.border-bottom-width-2em,
.border-bottom-2em {
  border-bottom-width: 2em;
}

.border-left-width-2em,
.border-left-2em {
  border-left-width: 2em;
}

.border-right-width-2em,
.border-right-2em {
  border-left-width: 2em;
}

.border-x-2em {
  border-left-width: 2em;
  border-right-width: 2em;
}

.border-y-2em {
  border-top-width: 2em;
  border-bottom-width: 2em;
}

.border-width-3em,
.border-3em {
  border-width: 3em;
}

.border-top-width-3em,
.border-top-3em {
  border-top-width: 3em;
}

.border-bottom-width-3em,
.border-bottom-3em {
  border-bottom-width: 3em;
}

.border-left-width-3em,
.border-left-3em {
  border-left-width: 3em;
}

.border-right-width-3em,
.border-right-3em {
  border-left-width: 3em;
}

.border-x-3em {
  border-left-width: 3em;
  border-right-width: 3em;
}

.border-y-3em {
  border-top-width: 3em;
  border-bottom-width: 3em;
}

.border-width-4em,
.border-4em {
  border-width: 4em;
}

.border-top-width-4em,
.border-top-4em {
  border-top-width: 4em;
}

.border-bottom-width-4em,
.border-bottom-4em {
  border-bottom-width: 4em;
}

.border-left-width-4em,
.border-left-4em {
  border-left-width: 4em;
}

.border-right-width-4em,
.border-right-4em {
  border-left-width: 4em;
}

.border-x-4em {
  border-left-width: 4em;
  border-right-width: 4em;
}

.border-y-4em {
  border-top-width: 4em;
  border-bottom-width: 4em;
}

.border-width-5em,
.border-5em {
  border-width: 5em;
}

.border-top-width-5em,
.border-top-5em {
  border-top-width: 5em;
}

.border-bottom-width-5em,
.border-bottom-5em {
  border-bottom-width: 5em;
}

.border-left-width-5em,
.border-left-5em {
  border-left-width: 5em;
}

.border-right-width-5em,
.border-right-5em {
  border-left-width: 5em;
}

.border-x-5em {
  border-left-width: 5em;
  border-right-width: 5em;
}

.border-y-5em {
  border-top-width: 5em;
  border-bottom-width: 5em;
}

.border-width-6em,
.border-6em {
  border-width: 6em;
}

.border-top-width-6em,
.border-top-6em {
  border-top-width: 6em;
}

.border-bottom-width-6em,
.border-bottom-6em {
  border-bottom-width: 6em;
}

.border-left-width-6em,
.border-left-6em {
  border-left-width: 6em;
}

.border-right-width-6em,
.border-right-6em {
  border-left-width: 6em;
}

.border-x-6em {
  border-left-width: 6em;
  border-right-width: 6em;
}

.border-y-6em {
  border-top-width: 6em;
  border-bottom-width: 6em;
}

.border-width-7em,
.border-7em {
  border-width: 7em;
}

.border-top-width-7em,
.border-top-7em {
  border-top-width: 7em;
}

.border-bottom-width-7em,
.border-bottom-7em {
  border-bottom-width: 7em;
}

.border-left-width-7em,
.border-left-7em {
  border-left-width: 7em;
}

.border-right-width-7em,
.border-right-7em {
  border-left-width: 7em;
}

.border-x-7em {
  border-left-width: 7em;
  border-right-width: 7em;
}

.border-y-7em {
  border-top-width: 7em;
  border-bottom-width: 7em;
}

.border-width-8em,
.border-8em {
  border-width: 8em;
}

.border-top-width-8em,
.border-top-8em {
  border-top-width: 8em;
}

.border-bottom-width-8em,
.border-bottom-8em {
  border-bottom-width: 8em;
}

.border-left-width-8em,
.border-left-8em {
  border-left-width: 8em;
}

.border-right-width-8em,
.border-right-8em {
  border-left-width: 8em;
}

.border-x-8em {
  border-left-width: 8em;
  border-right-width: 8em;
}

.border-y-8em {
  border-top-width: 8em;
  border-bottom-width: 8em;
}

.border-width-9em,
.border-9em {
  border-width: 9em;
}

.border-top-width-9em,
.border-top-9em {
  border-top-width: 9em;
}

.border-bottom-width-9em,
.border-bottom-9em {
  border-bottom-width: 9em;
}

.border-left-width-9em,
.border-left-9em {
  border-left-width: 9em;
}

.border-right-width-9em,
.border-right-9em {
  border-left-width: 9em;
}

.border-x-9em {
  border-left-width: 9em;
  border-right-width: 9em;
}

.border-y-9em {
  border-top-width: 9em;
  border-bottom-width: 9em;
}

.border-width-10em,
.border-10em {
  border-width: 10em;
}

.border-top-width-10em,
.border-top-10em {
  border-top-width: 10em;
}

.border-bottom-width-10em,
.border-bottom-10em {
  border-bottom-width: 10em;
}

.border-left-width-10em,
.border-left-10em {
  border-left-width: 10em;
}

.border-right-width-10em,
.border-right-10em {
  border-left-width: 10em;
}

.border-x-10em {
  border-left-width: 10em;
  border-right-width: 10em;
}

.border-y-10em {
  border-top-width: 10em;
  border-bottom-width: 10em;
}

.border-width-20em,
.border-20em {
  border-width: 20em;
}

.border-top-width-20em,
.border-top-20em {
  border-top-width: 20em;
}

.border-bottom-width-20em,
.border-bottom-20em {
  border-bottom-width: 20em;
}

.border-left-width-20em,
.border-left-20em {
  border-left-width: 20em;
}

.border-right-width-20em,
.border-right-20em {
  border-left-width: 20em;
}

.border-x-20em {
  border-left-width: 20em;
  border-right-width: 20em;
}

.border-y-20em {
  border-top-width: 20em;
  border-bottom-width: 20em;
}

.border-width-30em,
.border-30em {
  border-width: 30em;
}

.border-top-width-30em,
.border-top-30em {
  border-top-width: 30em;
}

.border-bottom-width-30em,
.border-bottom-30em {
  border-bottom-width: 30em;
}

.border-left-width-30em,
.border-left-30em {
  border-left-width: 30em;
}

.border-right-width-30em,
.border-right-30em {
  border-left-width: 30em;
}

.border-x-30em {
  border-left-width: 30em;
  border-right-width: 30em;
}

.border-y-30em {
  border-top-width: 30em;
  border-bottom-width: 30em;
}

.border-width-40em,
.border-40em {
  border-width: 40em;
}

.border-top-width-40em,
.border-top-40em {
  border-top-width: 40em;
}

.border-bottom-width-40em,
.border-bottom-40em {
  border-bottom-width: 40em;
}

.border-left-width-40em,
.border-left-40em {
  border-left-width: 40em;
}

.border-right-width-40em,
.border-right-40em {
  border-left-width: 40em;
}

.border-x-40em {
  border-left-width: 40em;
  border-right-width: 40em;
}

.border-y-40em {
  border-top-width: 40em;
  border-bottom-width: 40em;
}

.border-width-50em,
.border-50em {
  border-width: 50em;
}

.border-top-width-50em,
.border-top-50em {
  border-top-width: 50em;
}

.border-bottom-width-50em,
.border-bottom-50em {
  border-bottom-width: 50em;
}

.border-left-width-50em,
.border-left-50em {
  border-left-width: 50em;
}

.border-right-width-50em,
.border-right-50em {
  border-left-width: 50em;
}

.border-x-50em {
  border-left-width: 50em;
  border-right-width: 50em;
}

.border-y-50em {
  border-top-width: 50em;
  border-bottom-width: 50em;
}

.border-width-60em,
.border-60em {
  border-width: 60em;
}

.border-top-width-60em,
.border-top-60em {
  border-top-width: 60em;
}

.border-bottom-width-60em,
.border-bottom-60em {
  border-bottom-width: 60em;
}

.border-left-width-60em,
.border-left-60em {
  border-left-width: 60em;
}

.border-right-width-60em,
.border-right-60em {
  border-left-width: 60em;
}

.border-x-60em {
  border-left-width: 60em;
  border-right-width: 60em;
}

.border-y-60em {
  border-top-width: 60em;
  border-bottom-width: 60em;
}

.border-width-80em,
.border-80em {
  border-width: 80em;
}

.border-top-width-80em,
.border-top-80em {
  border-top-width: 80em;
}

.border-bottom-width-80em,
.border-bottom-80em {
  border-bottom-width: 80em;
}

.border-left-width-80em,
.border-left-80em {
  border-left-width: 80em;
}

.border-right-width-80em,
.border-right-80em {
  border-left-width: 80em;
}

.border-x-80em {
  border-left-width: 80em;
  border-right-width: 80em;
}

.border-y-80em {
  border-top-width: 80em;
  border-bottom-width: 80em;
}

.border-width-5,
.border-5 {
  border-width: 5%;
}

.border-top-width-5,
.border-top-5 {
  border-top-width: 5%;
}

.border-bottom-width-5,
.border-bottom-5 {
  border-bottom-width: 5%;
}

.border-left-width-5,
.border-left-5 {
  border-left-width: 5%;
}

.border-right-width-5,
.border-right-5 {
  border-left-width: 5%;
}

.border-x-5 {
  border-left-width: 5%;
  border-right-width: 5%;
}

.border-y-5 {
  border-top-width: 5%;
  border-bottom-width: 5%;
}

.border-width-10,
.border-10 {
  border-width: 10%;
}

.border-top-width-10,
.border-top-10 {
  border-top-width: 10%;
}

.border-bottom-width-10,
.border-bottom-10 {
  border-bottom-width: 10%;
}

.border-left-width-10,
.border-left-10 {
  border-left-width: 10%;
}

.border-right-width-10,
.border-right-10 {
  border-left-width: 10%;
}

.border-x-10 {
  border-left-width: 10%;
  border-right-width: 10%;
}

.border-y-10 {
  border-top-width: 10%;
  border-bottom-width: 10%;
}

.border-width-20,
.border-20 {
  border-width: 20%;
}

.border-top-width-20,
.border-top-20 {
  border-top-width: 20%;
}

.border-bottom-width-20,
.border-bottom-20 {
  border-bottom-width: 20%;
}

.border-left-width-20,
.border-left-20 {
  border-left-width: 20%;
}

.border-right-width-20,
.border-right-20 {
  border-left-width: 20%;
}

.border-x-20 {
  border-left-width: 20%;
  border-right-width: 20%;
}

.border-y-20 {
  border-top-width: 20%;
  border-bottom-width: 20%;
}

.border-width-25,
.border-25 {
  border-width: 25%;
}

.border-top-width-25,
.border-top-25 {
  border-top-width: 25%;
}

.border-bottom-width-25,
.border-bottom-25 {
  border-bottom-width: 25%;
}

.border-left-width-25,
.border-left-25 {
  border-left-width: 25%;
}

.border-right-width-25,
.border-right-25 {
  border-left-width: 25%;
}

.border-x-25 {
  border-left-width: 25%;
  border-right-width: 25%;
}

.border-y-25 {
  border-top-width: 25%;
  border-bottom-width: 25%;
}

.border-width-33,
.border-33 {
  border-width: 33%;
}

.border-top-width-33,
.border-top-33 {
  border-top-width: 33%;
}

.border-bottom-width-33,
.border-bottom-33 {
  border-bottom-width: 33%;
}

.border-left-width-33,
.border-left-33 {
  border-left-width: 33%;
}

.border-right-width-33,
.border-right-33 {
  border-left-width: 33%;
}

.border-x-33 {
  border-left-width: 33%;
  border-right-width: 33%;
}

.border-y-33 {
  border-top-width: 33%;
  border-bottom-width: 33%;
}

.border-width-50,
.border-50 {
  border-width: 50%;
}

.border-top-width-50,
.border-top-50 {
  border-top-width: 50%;
}

.border-bottom-width-50,
.border-bottom-50 {
  border-bottom-width: 50%;
}

.border-left-width-50,
.border-left-50 {
  border-left-width: 50%;
}

.border-right-width-50,
.border-right-50 {
  border-left-width: 50%;
}

.border-x-50 {
  border-left-width: 50%;
  border-right-width: 50%;
}

.border-y-50 {
  border-top-width: 50%;
  border-bottom-width: 50%;
}

.border-width-67,
.border-67 {
  border-width: 66.6666%;
}

.border-top-width-67,
.border-top-67 {
  border-top-width: 66.6666%;
}

.border-bottom-width-67,
.border-bottom-67 {
  border-bottom-width: 66.6666%;
}

.border-left-width-67,
.border-left-67 {
  border-left-width: 66.6666%;
}

.border-right-width-67,
.border-right-67 {
  border-left-width: 66.6666%;
}

.border-x-67 {
  border-left-width: 66.6666%;
  border-right-width: 66.6666%;
}

.border-y-67 {
  border-top-width: 66.6666%;
  border-bottom-width: 66.6666%;
}

.border-width-75,
.border-75 {
  border-width: 75%;
}

.border-top-width-75,
.border-top-75 {
  border-top-width: 75%;
}

.border-bottom-width-75,
.border-bottom-75 {
  border-bottom-width: 75%;
}

.border-left-width-75,
.border-left-75 {
  border-left-width: 75%;
}

.border-right-width-75,
.border-right-75 {
  border-left-width: 75%;
}

.border-x-75 {
  border-left-width: 75%;
  border-right-width: 75%;
}

.border-y-75 {
  border-top-width: 75%;
  border-bottom-width: 75%;
}

.border-width-80,
.border-80 {
  border-width: 80%;
}

.border-top-width-80,
.border-top-80 {
  border-top-width: 80%;
}

.border-bottom-width-80,
.border-bottom-80 {
  border-bottom-width: 80%;
}

.border-left-width-80,
.border-left-80 {
  border-left-width: 80%;
}

.border-right-width-80,
.border-right-80 {
  border-left-width: 80%;
}

.border-x-80 {
  border-left-width: 80%;
  border-right-width: 80%;
}

.border-y-80 {
  border-top-width: 80%;
  border-bottom-width: 80%;
}

.border-width-90,
.border-90 {
  border-width: 90%;
}

.border-top-width-90,
.border-top-90 {
  border-top-width: 90%;
}

.border-bottom-width-90,
.border-bottom-90 {
  border-bottom-width: 90%;
}

.border-left-width-90,
.border-left-90 {
  border-left-width: 90%;
}

.border-right-width-90,
.border-right-90 {
  border-left-width: 90%;
}

.border-x-90 {
  border-left-width: 90%;
  border-right-width: 90%;
}

.border-y-90 {
  border-top-width: 90%;
  border-bottom-width: 90%;
}

.border-width-95,
.border-95 {
  border-width: 95%;
}

.border-top-width-95,
.border-top-95 {
  border-top-width: 95%;
}

.border-bottom-width-95,
.border-bottom-95 {
  border-bottom-width: 95%;
}

.border-left-width-95,
.border-left-95 {
  border-left-width: 95%;
}

.border-right-width-95,
.border-right-95 {
  border-left-width: 95%;
}

.border-x-95 {
  border-left-width: 95%;
  border-right-width: 95%;
}

.border-y-95 {
  border-top-width: 95%;
  border-bottom-width: 95%;
}

.border-width-100,
.border-100 {
  border-width: 100%;
}

.border-top-width-100,
.border-top-100 {
  border-top-width: 100%;
}

.border-bottom-width-100,
.border-bottom-100 {
  border-bottom-width: 100%;
}

.border-left-width-100,
.border-left-100 {
  border-left-width: 100%;
}

.border-right-width-100,
.border-right-100 {
  border-left-width: 100%;
}

.border-x-100 {
  border-left-width: 100%;
  border-right-width: 100%;
}

.border-y-100 {
  border-top-width: 100%;
  border-bottom-width: 100%;
}

.border-width-mobile,
.border-mobile {
  border-width: 20em;
}

.border-top-width-mobile,
.border-top-mobile {
  border-top-width: 20em;
}

.border-bottom-width-mobile,
.border-bottom-mobile {
  border-bottom-width: 20em;
}

.border-left-width-mobile,
.border-left-mobile {
  border-left-width: 20em;
}

.border-right-width-mobile,
.border-right-mobile {
  border-left-width: 20em;
}

.border-x-mobile {
  border-left-width: 20em;
  border-right-width: 20em;
}

.border-y-mobile {
  border-top-width: 20em;
  border-bottom-width: 20em;
}

.border-width-mobile-lg,
.border-mobile-lg {
  border-width: 30em;
}

.border-top-width-mobile-lg,
.border-top-mobile-lg {
  border-top-width: 30em;
}

.border-bottom-width-mobile-lg,
.border-bottom-mobile-lg {
  border-bottom-width: 30em;
}

.border-left-width-mobile-lg,
.border-left-mobile-lg {
  border-left-width: 30em;
}

.border-right-width-mobile-lg,
.border-right-mobile-lg {
  border-left-width: 30em;
}

.border-x-mobile-lg {
  border-left-width: 30em;
  border-right-width: 30em;
}

.border-y-mobile-lg {
  border-top-width: 30em;
  border-bottom-width: 30em;
}

.border-width-tablet,
.border-tablet {
  border-width: 40em;
}

.border-top-width-tablet,
.border-top-tablet {
  border-top-width: 40em;
}

.border-bottom-width-tablet,
.border-bottom-tablet {
  border-bottom-width: 40em;
}

.border-left-width-tablet,
.border-left-tablet {
  border-left-width: 40em;
}

.border-right-width-tablet,
.border-right-tablet {
  border-left-width: 40em;
}

.border-x-tablet {
  border-left-width: 40em;
  border-right-width: 40em;
}

.border-y-tablet {
  border-top-width: 40em;
  border-bottom-width: 40em;
}

.border-width-tablet-lg,
.border-tablet-lg {
  border-width: 55em;
}

.border-top-width-tablet-lg,
.border-top-tablet-lg {
  border-top-width: 55em;
}

.border-bottom-width-tablet-lg,
.border-bottom-tablet-lg {
  border-bottom-width: 55em;
}

.border-left-width-tablet-lg,
.border-left-tablet-lg {
  border-left-width: 55em;
}

.border-right-width-tablet-lg,
.border-right-tablet-lg {
  border-left-width: 55em;
}

.border-x-tablet-lg {
  border-left-width: 55em;
  border-right-width: 55em;
}

.border-y-tablet-lg {
  border-top-width: 55em;
  border-bottom-width: 55em;
}

.border-width-desktop,
.border-desktop {
  border-width: 64em;
}

.border-top-width-desktop,
.border-top-desktop {
  border-top-width: 64em;
}

.border-bottom-width-desktop,
.border-bottom-desktop {
  border-bottom-width: 64em;
}

.border-left-width-desktop,
.border-left-desktop {
  border-left-width: 64em;
}

.border-right-width-desktop,
.border-right-desktop {
  border-left-width: 64em;
}

.border-x-desktop {
  border-left-width: 64em;
  border-right-width: 64em;
}

.border-y-desktop {
  border-top-width: 64em;
  border-bottom-width: 64em;
}

.border-width-desktop-lg,
.border-desktop-lg {
  border-width: 75em;
}

.border-top-width-desktop-lg,
.border-top-desktop-lg {
  border-top-width: 75em;
}

.border-bottom-width-desktop-lg,
.border-bottom-desktop-lg {
  border-bottom-width: 75em;
}

.border-left-width-desktop-lg,
.border-left-desktop-lg {
  border-left-width: 75em;
}

.border-right-width-desktop-lg,
.border-right-desktop-lg {
  border-left-width: 75em;
}

.border-x-desktop-lg {
  border-left-width: 75em;
  border-right-width: 75em;
}

.border-y-desktop-lg {
  border-top-width: 75em;
  border-bottom-width: 75em;
}

.border-width-widescreen,
.border-widescreen {
  border-width: 87.5em;
}

.border-top-width-widescreen,
.border-top-widescreen {
  border-top-width: 87.5em;
}

.border-bottom-width-widescreen,
.border-bottom-widescreen {
  border-bottom-width: 87.5em;
}

.border-left-width-widescreen,
.border-left-widescreen {
  border-left-width: 87.5em;
}

.border-right-width-widescreen,
.border-right-widescreen {
  border-left-width: 87.5em;
}

.border-x-widescreen {
  border-left-width: 87.5em;
  border-right-width: 87.5em;
}

.border-y-widescreen {
  border-top-width: 87.5em;
  border-bottom-width: 87.5em;
}

.border-width-viewport,
.border-viewport {
  border-width: 100vh;
}

.border-top-width-viewport,
.border-top-viewport {
  border-top-width: 100vh;
}

.border-bottom-width-viewport,
.border-bottom-viewport {
  border-bottom-width: 100vh;
}

.border-left-width-viewport,
.border-left-viewport {
  border-left-width: 100vh;
}

.border-right-width-viewport,
.border-right-viewport {
  border-left-width: 100vh;
}

.border-x-viewport {
  border-left-width: 100vh;
  border-right-width: 100vh;
}

.border-y-viewport {
  border-top-width: 100vh;
  border-bottom-width: 100vh;
}

.border-width-neg-1px,
.border-neg-1px {
  border-width: -1px;
}

.border-top-width-neg-1px,
.border-top-neg-1px {
  border-top-width: -1px;
}

.border-bottom-width-neg-1px,
.border-bottom-neg-1px {
  border-bottom-width: -1px;
}

.border-left-width-neg-1px,
.border-left-neg-1px {
  border-left-width: -1px;
}

.border-right-width-neg-1px,
.border-right-neg-1px {
  border-left-width: -1px;
}

.border-x-neg-1px {
  border-left-width: -1px;
  border-right-width: -1px;
}

.border-y-neg-1px {
  border-top-width: -1px;
  border-bottom-width: -1px;
}

.border-width-neg-2px,
.border-neg-2px {
  border-width: -2px;
}

.border-top-width-neg-2px,
.border-top-neg-2px {
  border-top-width: -2px;
}

.border-bottom-width-neg-2px,
.border-bottom-neg-2px {
  border-bottom-width: -2px;
}

.border-left-width-neg-2px,
.border-left-neg-2px {
  border-left-width: -2px;
}

.border-right-width-neg-2px,
.border-right-neg-2px {
  border-left-width: -2px;
}

.border-x-neg-2px {
  border-left-width: -2px;
  border-right-width: -2px;
}

.border-y-neg-2px {
  border-top-width: -2px;
  border-bottom-width: -2px;
}

.border-width-neg-05,
.border-neg-05 {
  border-width: -0.25em;
}

.border-top-width-neg-05,
.border-top-neg-05 {
  border-top-width: -0.25em;
}

.border-bottom-width-neg-05,
.border-bottom-neg-05 {
  border-bottom-width: -0.25em;
}

.border-left-width-neg-05,
.border-left-neg-05 {
  border-left-width: -0.25em;
}

.border-right-width-neg-05,
.border-right-neg-05 {
  border-left-width: -0.25em;
}

.border-x-neg-05 {
  border-left-width: -0.25em;
  border-right-width: -0.25em;
}

.border-y-neg-05 {
  border-top-width: -0.25em;
  border-bottom-width: -0.25em;
}

.border-width-neg-1,
.border-neg-1 {
  border-width: -0.5em;
}

.border-top-width-neg-1,
.border-top-neg-1 {
  border-top-width: -0.5em;
}

.border-bottom-width-neg-1,
.border-bottom-neg-1 {
  border-bottom-width: -0.5em;
}

.border-left-width-neg-1,
.border-left-neg-1 {
  border-left-width: -0.5em;
}

.border-right-width-neg-1,
.border-right-neg-1 {
  border-left-width: -0.5em;
}

.border-x-neg-1 {
  border-left-width: -0.5em;
  border-right-width: -0.5em;
}

.border-y-neg-1 {
  border-top-width: -0.5em;
  border-bottom-width: -0.5em;
}

.border-width-neg-105,
.border-neg-105 {
  border-width: -0.75em;
}

.border-top-width-neg-105,
.border-top-neg-105 {
  border-top-width: -0.75em;
}

.border-bottom-width-neg-105,
.border-bottom-neg-105 {
  border-bottom-width: -0.75em;
}

.border-left-width-neg-105,
.border-left-neg-105 {
  border-left-width: -0.75em;
}

.border-right-width-neg-105,
.border-right-neg-105 {
  border-left-width: -0.75em;
}

.border-x-neg-105 {
  border-left-width: -0.75em;
  border-right-width: -0.75em;
}

.border-y-neg-105 {
  border-top-width: -0.75em;
  border-bottom-width: -0.75em;
}

.border-width-neg-2,
.border-neg-2 {
  border-width: -1em;
}

.border-top-width-neg-2,
.border-top-neg-2 {
  border-top-width: -1em;
}

.border-bottom-width-neg-2,
.border-bottom-neg-2 {
  border-bottom-width: -1em;
}

.border-left-width-neg-2,
.border-left-neg-2 {
  border-left-width: -1em;
}

.border-right-width-neg-2,
.border-right-neg-2 {
  border-left-width: -1em;
}

.border-x-neg-2 {
  border-left-width: -1em;
  border-right-width: -1em;
}

.border-y-neg-2 {
  border-top-width: -1em;
  border-bottom-width: -1em;
}

.border-width-neg-205,
.border-neg-205 {
  border-width: -1.25em;
}

.border-top-width-neg-205,
.border-top-neg-205 {
  border-top-width: -1.25em;
}

.border-bottom-width-neg-205,
.border-bottom-neg-205 {
  border-bottom-width: -1.25em;
}

.border-left-width-neg-205,
.border-left-neg-205 {
  border-left-width: -1.25em;
}

.border-right-width-neg-205,
.border-right-neg-205 {
  border-left-width: -1.25em;
}

.border-x-neg-205 {
  border-left-width: -1.25em;
  border-right-width: -1.25em;
}

.border-y-neg-205 {
  border-top-width: -1.25em;
  border-bottom-width: -1.25em;
}

.border-width-neg-3,
.border-neg-3 {
  border-width: -1.5em;
}

.border-top-width-neg-3,
.border-top-neg-3 {
  border-top-width: -1.5em;
}

.border-bottom-width-neg-3,
.border-bottom-neg-3 {
  border-bottom-width: -1.5em;
}

.border-left-width-neg-3,
.border-left-neg-3 {
  border-left-width: -1.5em;
}

.border-right-width-neg-3,
.border-right-neg-3 {
  border-left-width: -1.5em;
}

.border-x-neg-3 {
  border-left-width: -1.5em;
  border-right-width: -1.5em;
}

.border-y-neg-3 {
  border-top-width: -1.5em;
  border-bottom-width: -1.5em;
}

.border-width-neg-4,
.border-neg-4 {
  border-width: -2em;
}

.border-top-width-neg-4,
.border-top-neg-4 {
  border-top-width: -2em;
}

.border-bottom-width-neg-4,
.border-bottom-neg-4 {
  border-bottom-width: -2em;
}

.border-left-width-neg-4,
.border-left-neg-4 {
  border-left-width: -2em;
}

.border-right-width-neg-4,
.border-right-neg-4 {
  border-left-width: -2em;
}

.border-x-neg-4 {
  border-left-width: -2em;
  border-right-width: -2em;
}

.border-y-neg-4 {
  border-top-width: -2em;
  border-bottom-width: -2em;
}

.border-width-neg-5,
.border-neg-5 {
  border-width: -2.5em;
}

.border-top-width-neg-5,
.border-top-neg-5 {
  border-top-width: -2.5em;
}

.border-bottom-width-neg-5,
.border-bottom-neg-5 {
  border-bottom-width: -2.5em;
}

.border-left-width-neg-5,
.border-left-neg-5 {
  border-left-width: -2.5em;
}

.border-right-width-neg-5,
.border-right-neg-5 {
  border-left-width: -2.5em;
}

.border-x-neg-5 {
  border-left-width: -2.5em;
  border-right-width: -2.5em;
}

.border-y-neg-5 {
  border-top-width: -2.5em;
  border-bottom-width: -2.5em;
}

.border-width-neg-6,
.border-neg-6 {
  border-width: -3em;
}

.border-top-width-neg-6,
.border-top-neg-6 {
  border-top-width: -3em;
}

.border-bottom-width-neg-6,
.border-bottom-neg-6 {
  border-bottom-width: -3em;
}

.border-left-width-neg-6,
.border-left-neg-6 {
  border-left-width: -3em;
}

.border-right-width-neg-6,
.border-right-neg-6 {
  border-left-width: -3em;
}

.border-x-neg-6 {
  border-left-width: -3em;
  border-right-width: -3em;
}

.border-y-neg-6 {
  border-top-width: -3em;
  border-bottom-width: -3em;
}

.border-width-neg-7,
.border-neg-7 {
  border-width: -3.5em;
}

.border-top-width-neg-7,
.border-top-neg-7 {
  border-top-width: -3.5em;
}

.border-bottom-width-neg-7,
.border-bottom-neg-7 {
  border-bottom-width: -3.5em;
}

.border-left-width-neg-7,
.border-left-neg-7 {
  border-left-width: -3.5em;
}

.border-right-width-neg-7,
.border-right-neg-7 {
  border-left-width: -3.5em;
}

.border-x-neg-7 {
  border-left-width: -3.5em;
  border-right-width: -3.5em;
}

.border-y-neg-7 {
  border-top-width: -3.5em;
  border-bottom-width: -3.5em;
}

.border-width-neg-8,
.border-neg-8 {
  border-width: -4em;
}

.border-top-width-neg-8,
.border-top-neg-8 {
  border-top-width: -4em;
}

.border-bottom-width-neg-8,
.border-bottom-neg-8 {
  border-bottom-width: -4em;
}

.border-left-width-neg-8,
.border-left-neg-8 {
  border-left-width: -4em;
}

.border-right-width-neg-8,
.border-right-neg-8 {
  border-left-width: -4em;
}

.border-x-neg-8 {
  border-left-width: -4em;
  border-right-width: -4em;
}

.border-y-neg-8 {
  border-top-width: -4em;
  border-bottom-width: -4em;
}

.border-width-neg-9,
.border-neg-9 {
  border-width: -4.5em;
}

.border-top-width-neg-9,
.border-top-neg-9 {
  border-top-width: -4.5em;
}

.border-bottom-width-neg-9,
.border-bottom-neg-9 {
  border-bottom-width: -4.5em;
}

.border-left-width-neg-9,
.border-left-neg-9 {
  border-left-width: -4.5em;
}

.border-right-width-neg-9,
.border-right-neg-9 {
  border-left-width: -4.5em;
}

.border-x-neg-9 {
  border-left-width: -4.5em;
  border-right-width: -4.5em;
}

.border-y-neg-9 {
  border-top-width: -4.5em;
  border-bottom-width: -4.5em;
}

.border-width-neg-10,
.border-neg-10 {
  border-width: -5em;
}

.border-top-width-neg-10,
.border-top-neg-10 {
  border-top-width: -5em;
}

.border-bottom-width-neg-10,
.border-bottom-neg-10 {
  border-bottom-width: -5em;
}

.border-left-width-neg-10,
.border-left-neg-10 {
  border-left-width: -5em;
}

.border-right-width-neg-10,
.border-right-neg-10 {
  border-left-width: -5em;
}

.border-x-neg-10 {
  border-left-width: -5em;
  border-right-width: -5em;
}

.border-y-neg-10 {
  border-top-width: -5em;
  border-bottom-width: -5em;
}

.border-width-neg-15,
.border-neg-15 {
  border-width: -7.5em;
}

.border-top-width-neg-15,
.border-top-neg-15 {
  border-top-width: -7.5em;
}

.border-bottom-width-neg-15,
.border-bottom-neg-15 {
  border-bottom-width: -7.5em;
}

.border-left-width-neg-15,
.border-left-neg-15 {
  border-left-width: -7.5em;
}

.border-right-width-neg-15,
.border-right-neg-15 {
  border-left-width: -7.5em;
}

.border-x-neg-15 {
  border-left-width: -7.5em;
  border-right-width: -7.5em;
}

.border-y-neg-15 {
  border-top-width: -7.5em;
  border-bottom-width: -7.5em;
}

.border-width-sm,
.border-sm {
  border-width: 0.125em;
}

.border-top-width-sm,
.border-top-sm {
  border-top-width: 0.125em;
}

.border-bottom-width-sm,
.border-bottom-sm {
  border-bottom-width: 0.125em;
}

.border-left-width-sm,
.border-left-sm {
  border-left-width: 0.125em;
}

.border-right-width-sm,
.border-right-sm {
  border-left-width: 0.125em;
}

.border-x-sm {
  border-left-width: 0.125em;
  border-right-width: 0.125em;
}

.border-y-sm {
  border-top-width: 0.125em;
  border-bottom-width: 0.125em;
}

.border-width-md,
.border-md {
  border-width: 0.25em;
}

.border-top-width-md,
.border-top-md {
  border-top-width: 0.25em;
}

.border-bottom-width-md,
.border-bottom-md {
  border-bottom-width: 0.25em;
}

.border-left-width-md,
.border-left-md {
  border-left-width: 0.25em;
}

.border-right-width-md,
.border-right-md {
  border-left-width: 0.25em;
}

.border-x-md {
  border-left-width: 0.25em;
  border-right-width: 0.25em;
}

.border-y-md {
  border-top-width: 0.25em;
  border-bottom-width: 0.25em;
}

.border-width-lg,
.border-lg {
  border-width: 0.5em;
}

.border-top-width-lg,
.border-top-lg {
  border-top-width: 0.5em;
}

.border-bottom-width-lg,
.border-bottom-lg {
  border-bottom-width: 0.5em;
}

.border-left-width-lg,
.border-left-lg {
  border-left-width: 0.5em;
}

.border-right-width-lg,
.border-right-lg {
  border-left-width: 0.5em;
}

.border-x-lg {
  border-left-width: 0.5em;
  border-right-width: 0.5em;
}

.border-y-lg {
  border-top-width: 0.5em;
  border-bottom-width: 0.5em;
}

.border-width-pill,
.border-pill {
  border-width: 99rem;
}

.border-top-width-pill,
.border-top-pill {
  border-top-width: 99rem;
}

.border-bottom-width-pill,
.border-bottom-pill {
  border-bottom-width: 99rem;
}

.border-left-width-pill,
.border-left-pill {
  border-left-width: 99rem;
}

.border-right-width-pill,
.border-right-pill {
  border-left-width: 99rem;
}

.border-x-pill {
  border-left-width: 99rem;
  border-right-width: 99rem;
}

.border-y-pill {
  border-top-width: 99rem;
  border-bottom-width: 99rem;
}

.border-width-full,
.border-full {
  border-width: 100%;
}

.border-top-width-full,
.border-top-full {
  border-top-width: 100%;
}

.border-bottom-width-full,
.border-bottom-full {
  border-bottom-width: 100%;
}

.border-left-width-full,
.border-left-full {
  border-left-width: 100%;
}

.border-right-width-full,
.border-right-full {
  border-left-width: 100%;
}

.border-x-full {
  border-left-width: 100%;
  border-right-width: 100%;
}

.border-y-full {
  border-top-width: 100%;
  border-bottom-width: 100%;
}

.border-width-width,
.border-width {
  border-width: 100%;
}

.border-top-width-width,
.border-top-width {
  border-top-width: 100%;
}

.border-bottom-width-width,
.border-bottom-width {
  border-bottom-width: 100%;
}

.border-left-width-width,
.border-left-width {
  border-left-width: 100%;
}

.border-right-width-width,
.border-right-width {
  border-left-width: 100%;
}

.border-x-width {
  border-left-width: 100%;
  border-right-width: 100%;
}

.border-y-width {
  border-top-width: 100%;
  border-bottom-width: 100%;
}

.border-width-wide,
.border-wide {
  border-width: 100%;
}

.border-top-width-wide,
.border-top-wide {
  border-top-width: 100%;
}

.border-bottom-width-wide,
.border-bottom-wide {
  border-bottom-width: 100%;
}

.border-left-width-wide,
.border-left-wide {
  border-left-width: 100%;
}

.border-right-width-wide,
.border-right-wide {
  border-left-width: 100%;
}

.border-x-wide {
  border-left-width: 100%;
  border-right-width: 100%;
}

.border-y-wide {
  border-top-width: 100%;
  border-bottom-width: 100%;
}

.border-width-auto,
.border-auto {
  border-width: auto;
}

.border-top-width-auto,
.border-top-auto {
  border-top-width: auto;
}

.border-bottom-width-auto,
.border-bottom-auto {
  border-bottom-width: auto;
}

.border-left-width-auto,
.border-left-auto {
  border-left-width: auto;
}

.border-right-width-auto,
.border-right-auto {
  border-left-width: auto;
}

.border-x-auto {
  border-left-width: auto;
  border-right-width: auto;
}

.border-y-auto {
  border-top-width: auto;
  border-bottom-width: auto;
}

.border-width-inherit,
.border-inherit {
  border-width: inherit;
}

.border-top-width-inherit,
.border-top-inherit {
  border-top-width: inherit;
}

.border-bottom-width-inherit,
.border-bottom-inherit {
  border-bottom-width: inherit;
}

.border-left-width-inherit,
.border-left-inherit {
  border-left-width: inherit;
}

.border-right-width-inherit,
.border-right-inherit {
  border-left-width: inherit;
}

.border-x-inherit {
  border-left-width: inherit;
  border-right-width: inherit;
}

.border-y-inherit {
  border-top-width: inherit;
  border-bottom-width: inherit;
}

.border-width-initial,
.border-initial {
  border-width: initial;
}

.border-top-width-initial,
.border-top-initial {
  border-top-width: initial;
}

.border-bottom-width-initial,
.border-bottom-initial {
  border-bottom-width: initial;
}

.border-left-width-initial,
.border-left-initial {
  border-left-width: initial;
}

.border-right-width-initial,
.border-right-initial {
  border-left-width: initial;
}

.border-x-initial {
  border-left-width: initial;
  border-right-width: initial;
}

.border-y-initial {
  border-top-width: initial;
  border-bottom-width: initial;
}

.border-width-none,
.border-none {
  border-width: none;
}

.border-top-width-none,
.border-top-none {
  border-top-width: none;
}

.border-bottom-width-none,
.border-bottom-none {
  border-bottom-width: none;
}

.border-left-width-none,
.border-left-none {
  border-left-width: none;
}

.border-right-width-none,
.border-right-none {
  border-left-width: none;
}

.border-x-none {
  border-left-width: none;
  border-right-width: none;
}

.border-y-none {
  border-top-width: none;
  border-bottom-width: none;
}

/* END border.scss *//*# sourceMappingURL=border.css.map */