@import '../variables';

.border-radius,
.radius {
  border-radius: $border-radius;
}

.border-top-left-radius,
.radius-top-left {
  border-top-left-radius: $border-radius;
}

.border-top-right-radius,
.radius-top-right {
  border-top-right-radius: $border-radius;
}

.border-bottom-left-radius,
.radius-bottom-left {
  border-bottom-left-radius: $border-radius;
}

.border-bottom-right-radius,
.radius-bottom-right {
  border-bottom-right-radius: $border-radius;
}

.border-radius-top,
.radius-top {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.border-radius-right,
.radius-right {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.border-radius-bottom,
.radius-bottom {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.border-radius-left,
.radius-left {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

/* Each Loop to Generate Classes */
@each $unit-name,
$unit in $spacing-units-array {

  .border-radius-#{$unit-name},
  .radius-#{$unit-name} {
    border-radius: #{$unit};
  }

  .border-top-left-radius-#{$unit-name},
  .radius-top-left-#{$unit-name} {
    border-top-left-radius: #{$unit};
  }

  .border-top-right-radius-#{$unit-name},
  .radius-top-right-#{$unit-name} {
    border-top-right-radius: #{$unit};
  }

  .border-bottom-right-radius-#{$unit-name},
  .radius-bottom-right-#{$unit-name} {
    border-bottom-right-radius: #{$unit};
  }

  .border-bottom-left-radius-#{$unit-name},
  .radius-bottom-left-#{$unit-name} {
    border-bottom-left-radius: #{$unit};
  }

  .border-top-radius-#{$unit-name},
  .radius-top-#{$unit-name} {
    border-top-left-radius: #{$unit};
    border-top-right-radius: #{$unit};
  }

  .border-right-radius-#{$unit-name},
  .radius-right-#{$unit-name} {
    border-top-right-radius: #{$unit};
    border-bottom-right-radius: #{$unit};
  }

  .border-bottom-radius-#{$unit-name},
  .radius-bottom-#{$unit-name} {
    border-bottom-left-radius: #{$unit};
    border-bottom-right-radius: #{$unit};
  }

  .border-left-radius-#{$unit-name},
  .radius-left-#{$unit-name} {
    border-top-left-radius: #{$unit};
    border-bottom-right-radius: #{$unit};
  }
}