/* START borders.scss */
@import '../variables';

.border {
  border: $border-width $border-style $border-color;
}

.border-radius {
  border-radius: $border-radius;
}

/* Border Styles Array */
$border-styles-array: (none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit);

/* Each Loop to Generate Classes */
@each $border-style in $border-styles-array {

  .border-style-#{$border-style},
  .border-#{$border-style} {
    border-style: #{$border-style};
  }
}

/* Border Color */
/* Each Loop to Generate Classes */
@each $color-name,
$color-value in $colors-array {

  .border-color-#{$color-name},
  .border-#{$color-name} {
    border-color: $color-value;
  }
}

.border-bottom {
  border-bottom-style: $border-style;
  border-bottom-width: $border-width;
}

.border-left {
  border-left-style: $border-style;
  border-left-width: $border-width;
}

.border-radius {
  border-radius: $border-radius;
}

.border-right {
  border-right-style: $border-style;
  border-right-width: $border-width;
}

.border-top {
  border-top-style: $border-style;
  border-top-width: $border-width;
}

.border-width {
  border-width: $border-width;
}

.border-width-inherit {
  border-width: inherit;
}

.border-width-thick,
.border-thick {
  border-width: thick;
}

.border-width-thin,
.border-thin {
  border-width: thin;
}

.border-width-medium,
.border-medium {
  border-width: medium;
}

/* Each Loop to Generate Classes */
@each $unit-name,
$unit in $spacing-units-array {

  .border-width-#{$unit-name},
  .border-#{$unit-name} {
    border-width: #{$unit};
  }

  .border-top-width-#{$unit-name},
  .border-top-#{$unit-name} {
    border-top-width: #{$unit};
  }

  .border-bottom-width-#{$unit-name},
  .border-bottom-#{$unit-name} {
    border-bottom-width: #{$unit};
  }

  .border-left-width-#{$unit-name},
  .border-left-#{$unit-name} {
    border-left-width: #{$unit};
  }

  .border-right-width-#{$unit-name},
  .border-right-#{$unit-name} {
    border-left-width: #{$unit};
  }

  .border-x-#{$unit-name} {
    border-left-width: #{$unit};
    border-right-width: #{$unit};
  }

  .border-y-#{$unit-name} {
    border-top-width: #{$unit};
    border-bottom-width: #{$unit};
  }
}

/* END border.scss */