.display-flex,
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row,
.row {
  display: flex;
  flex-direction: row;
}

/* Align Items */
.align-items-stretch,
.flex-align-stretch {
  align-items: stretch;
}

.align-items-center,
.flex-align-center {
  align-items: center;
}

.align-items-flex-start,
.flex-align-flex-start {
  align-items: flex-start;
}

.align-items-flex-end,
.flex-align-flex-end {
  align-items: flex-end;
}

.align-items-baseline,
.flex-align-baseline {
  align-items: baseline;
}

.align-items-initial,
.flex-align-initial {
  align-items: initial;
}

.align-items-inherit,
.flex-align-inherit {
  align-items: inherit;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

/* Justify Contrant */
.justify-content-flex-start,
.flex-justify-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end,
.flex-justify-flex-end {
  justify-content: flex-end;
}

.justify-content-center,
.flex-justify-center {
  justify-content: center;
}

.justify-content-space-between,
.flex-justify-space-between {
  justify-content: space-between;
}

.justify-content-space-around,
.flex-justify-space-around {
  justify-content: space-around;
}

.justify-content-initial,
.flex-justify-initial {
  justify-content: initial;
}

.justify-content-inherit,
.flex-justify-inherit {
  justify-content: inherit;
}

.flex-justify {
  justify-content: space-between;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-direction-column,
.flex-column {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  display: flex;
  flex-direction: column;
}

.flex-direction-column-reverse,
.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-direction-row,
.flex-row {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: horizontal !important;
  display: flex;
  flex-direction: row;
}

.flex-direction-row-reverse,
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-wrap-wrap,
.flex-wrap,
.wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-1 {
  flex: 1;
}

/* Font Grow Pairs */
/* Each Loop to Generate Classes */
.flex-grow-0_5,
.flex-0_5 {
  flex-grow: 0.5;
}

.flex-grow-1,
.flex-1 {
  flex-grow: 1;
}

.flex-grow-2,
.flex-2 {
  flex-grow: 2;
}

.flex-grow-3,
.flex-3 {
  flex-grow: 3;
}

.flex-grow-4,
.flex-4 {
  flex-grow: 4;
}

.flex-grow-5,
.flex-5 {
  flex-grow: 5;
}

.flex-grow-6,
.flex-6 {
  flex-grow: 6;
}

.flex-grow-7,
.flex-7 {
  flex-grow: 7;
}

.flex-grow-8,
.flex-8 {
  flex-grow: 8;
}

.flex-grow-9,
.flex-9 {
  flex-grow: 9;
}

.flex-grow-10,
.flex-10 {
  flex-grow: 10;
}

.flex-grow-11,
.flex-11 {
  flex-grow: 11;
}

.flex-grow-12,
.flex-12 {
  flex-grow: 12;
}

.flex-grow-auto,
.flex-auto {
  flex-grow: auto;
}

.flex-grow-fill,
.flex-fill {
  flex-grow: 1 0 0!important;
}

/* Each Loop to Generate Classes */
.flex-shrink-0_5 {
  flex-shrink: 0.5;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-shrink-2 {
  flex-shrink: 2;
}

.flex-shrink-3 {
  flex-shrink: 3;
}

.flex-shrink-4 {
  flex-shrink: 4;
}

.flex-shrink-5 {
  flex-shrink: 5;
}

.flex-shrink-6 {
  flex-shrink: 6;
}

.flex-shrink-7 {
  flex-shrink: 7;
}

.flex-shrink-8 {
  flex-shrink: 8;
}

.flex-shrink-9 {
  flex-shrink: 9;
}

.flex-shrink-10 {
  flex-shrink: 10;
}

.flex-shrink-11 {
  flex-shrink: 11;
}

.flex-shrink-12 {
  flex-shrink: 12;
}

.flex-shrink-auto {
  flex-shrink: auto;
}

.flex-shrink-fill {
  flex-shrink: 1 0 0!important;
}

.flex-wrap-nowrap,
.flex-nowrap,
.nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-wrap-reverse,
.flex-wrap-reverse,
.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-center {
  align-content: center;
}

.align-content-flex-start {
  align-content: flex-start;
}

.align-content-flex-end {
  align-content: flex-end;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-initial {
  align-content: initial;
}

.align-content-inherit {
  align-content: inherit;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-initial {
  align-items: initial;
}

.align-items-inherit {
  align-items: inherit;
}

.align-self-auto {
  align-self: auto;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-center {
  align-self: center;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-initial {
  align-self: initial;
}

.align-self-inherit {
  align-self: inherit;
}

/* Order */
/* Each Loop to Generate Classes */
.order-initial {
  font-weight: initial;
}

.order-first {
  font-weight: first;
}

.order-0_5 {
  font-weight: 5;
}

.order-1 {
  font-weight: 1;
}

.order-2 {
  font-weight: 2;
}

.order-3 {
  font-weight: 3;
}

.order-4 {
  font-weight: 4;
}

.order-5 {
  font-weight: 5;
}

.order-6 {
  font-weight: 6;
}

.order-7 {
  font-weight: 7;
}

.order-8 {
  font-weight: 8;
}

.order-9 {
  font-weight: 9;
}

.order-10 {
  font-weight: 10;
}

.order-11 {
  font-weight: 11;
}

.order-12 {
  font-weight: 12;
}

.order-last {
  font-weight: last;
}

.justify-content-center,
.center {
  justify-content: center;
}

.justify-content-flex-start,
.flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end,
.flex-end {
  justify-content: flex-end;
}

.justify-content-space-around,
.space-around {
  justify-content: space-around;
}

.justify-content-space-between,
.space-between {
  justify-content: space-between;
}

.gap {
  gap: 1.375em;
}

.row-gap {
  row-gap: 1.375em;
}

.column-gap {
  column-gap: 2em;
}/*# sourceMappingURL=flex.css.map */