$overflow-array: (visible, hidden, scroll, auto, initial, inherit);

/* Each Loop to Generate Classes */
@each $overflow in $overflow-array {
  .overflow-#{$overflow} {
    overflow: #{$overflow};
  }

  .overflow-x-#{$overflow} {
    overflow-x: #{$overflow};
  }

  .overflow-y-#{$overflow} {
    overflow-y: #{$overflow};
  }
}