/* Padding */
.padding-x {
  padding-left: 12%;
  padding-right: 12%;
}

.padding-bottom {
  padding-bottom: 12%;
}

/* Each Loop to Generate Classes */
.padding-0 {
  padding: 0;
}

.padding-x-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-1px {
  padding: 1px;
}

.padding-x-1px {
  padding-left: 1px;
  padding-right: 1px;
}

.padding-y-1px {
  padding-top: 1px;
  padding-bottom: 1px;
}

.padding-top-1px {
  padding-top: 1px;
}

.padding-right-1px {
  padding-right: 1px;
}

.padding-bottom-1px {
  padding-bottom: 1px;
}

.padding-left-1px {
  padding-left: 1px;
}

.padding-2px {
  padding: 2px;
}

.padding-x-2px {
  padding-left: 2px;
  padding-right: 2px;
}

.padding-y-2px {
  padding-top: 2px;
  padding-bottom: 2px;
}

.padding-top-2px {
  padding-top: 2px;
}

.padding-right-2px {
  padding-right: 2px;
}

.padding-bottom-2px {
  padding-bottom: 2px;
}

.padding-left-2px {
  padding-left: 2px;
}

.padding-3px {
  padding: 3px;
}

.padding-x-3px {
  padding-left: 3px;
  padding-right: 3px;
}

.padding-y-3px {
  padding-top: 3px;
  padding-bottom: 3px;
}

.padding-top-3px {
  padding-top: 3px;
}

.padding-right-3px {
  padding-right: 3px;
}

.padding-bottom-3px {
  padding-bottom: 3px;
}

.padding-left-3px {
  padding-left: 3px;
}

.padding-4px {
  padding: 4px;
}

.padding-x-4px {
  padding-left: 4px;
  padding-right: 4px;
}

.padding-y-4px {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding-top-4px {
  padding-top: 4px;
}

.padding-right-4px {
  padding-right: 4px;
}

.padding-bottom-4px {
  padding-bottom: 4px;
}

.padding-left-4px {
  padding-left: 4px;
}

.padding-5px {
  padding: 5px;
}

.padding-x-5px {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-y-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-top-5px {
  padding-top: 5px;
}

.padding-right-5px {
  padding-right: 5px;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.padding-left-5px {
  padding-left: 5px;
}

.padding-6px {
  padding: 6px;
}

.padding-x-6px {
  padding-left: 6px;
  padding-right: 6px;
}

.padding-y-6px {
  padding-top: 6px;
  padding-bottom: 6px;
}

.padding-top-6px {
  padding-top: 6px;
}

.padding-right-6px {
  padding-right: 6px;
}

.padding-bottom-6px {
  padding-bottom: 6px;
}

.padding-left-6px {
  padding-left: 6px;
}

.padding-0_25em {
  padding: 0.25em;
}

.padding-x-0_25em {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.padding-y-0_25em {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.padding-top-0_25em {
  padding-top: 0.25em;
}

.padding-right-0_25em {
  padding-right: 0.25em;
}

.padding-bottom-0_25em {
  padding-bottom: 0.25em;
}

.padding-left-0_25em {
  padding-left: 0.25em;
}

.padding-0_33em {
  padding: 0.33em;
}

.padding-x-0_33em {
  padding-left: 0.33em;
  padding-right: 0.33em;
}

.padding-y-0_33em {
  padding-top: 0.33em;
  padding-bottom: 0.33em;
}

.padding-top-0_33em {
  padding-top: 0.33em;
}

.padding-right-0_33em {
  padding-right: 0.33em;
}

.padding-bottom-0_33em {
  padding-bottom: 0.33em;
}

.padding-left-0_33em {
  padding-left: 0.33em;
}

.padding-0_5em {
  padding: 0.5em;
}

.padding-x-0_5em {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.padding-y-0_5em {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.padding-top-0_5em {
  padding-top: 0.5em;
}

.padding-right-0_5em {
  padding-right: 0.5em;
}

.padding-bottom-0_5em {
  padding-bottom: 0.5em;
}

.padding-left-0_5em {
  padding-left: 0.5em;
}

.padding-0_67em {
  padding: 0.6667em;
}

.padding-x-0_67em {
  padding-left: 0.6667em;
  padding-right: 0.6667em;
}

.padding-y-0_67em {
  padding-top: 0.6667em;
  padding-bottom: 0.6667em;
}

.padding-top-0_67em {
  padding-top: 0.6667em;
}

.padding-right-0_67em {
  padding-right: 0.6667em;
}

.padding-bottom-0_67em {
  padding-bottom: 0.6667em;
}

.padding-left-0_67em {
  padding-left: 0.6667em;
}

.padding-0_75em {
  padding: 0.75em;
}

.padding-x-0_75em {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.padding-y-0_75em {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.padding-top-0_75em {
  padding-top: 0.75em;
}

.padding-right-0_75em {
  padding-right: 0.75em;
}

.padding-bottom-0_75em {
  padding-bottom: 0.75em;
}

.padding-left-0_75em {
  padding-left: 0.75em;
}

.padding-1em {
  padding: 1em;
}

.padding-x-1em {
  padding-left: 1em;
  padding-right: 1em;
}

.padding-y-1em {
  padding-top: 1em;
  padding-bottom: 1em;
}

.padding-top-1em {
  padding-top: 1em;
}

.padding-right-1em {
  padding-right: 1em;
}

.padding-bottom-1em {
  padding-bottom: 1em;
}

.padding-left-1em {
  padding-left: 1em;
}

.padding-1_25em {
  padding: 1.25em;
}

.padding-x-1_25em {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.padding-y-1_25em {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.padding-top-1_25em {
  padding-top: 1.25em;
}

.padding-right-1_25em {
  padding-right: 1.25em;
}

.padding-bottom-1_25em {
  padding-bottom: 1.25em;
}

.padding-left-1_25em {
  padding-left: 1.25em;
}

.padding-1_5em {
  padding: 1.5em;
}

.padding-x-1_5em {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.padding-y-1_5em {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.padding-top-1_5em {
  padding-top: 1.5em;
}

.padding-right-1_5em {
  padding-right: 1.5em;
}

.padding-bottom-1_5em {
  padding-bottom: 1.5em;
}

.padding-left-1_5em {
  padding-left: 1.5em;
}

.padding-2em {
  padding: 2em;
}

.padding-x-2em {
  padding-left: 2em;
  padding-right: 2em;
}

.padding-y-2em {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-top-2em {
  padding-top: 2em;
}

.padding-right-2em {
  padding-right: 2em;
}

.padding-bottom-2em {
  padding-bottom: 2em;
}

.padding-left-2em {
  padding-left: 2em;
}

.padding-3em {
  padding: 3em;
}

.padding-x-3em {
  padding-left: 3em;
  padding-right: 3em;
}

.padding-y-3em {
  padding-top: 3em;
  padding-bottom: 3em;
}

.padding-top-3em {
  padding-top: 3em;
}

.padding-right-3em {
  padding-right: 3em;
}

.padding-bottom-3em {
  padding-bottom: 3em;
}

.padding-left-3em {
  padding-left: 3em;
}

.padding-4em {
  padding: 4em;
}

.padding-x-4em {
  padding-left: 4em;
  padding-right: 4em;
}

.padding-y-4em {
  padding-top: 4em;
  padding-bottom: 4em;
}

.padding-top-4em {
  padding-top: 4em;
}

.padding-right-4em {
  padding-right: 4em;
}

.padding-bottom-4em {
  padding-bottom: 4em;
}

.padding-left-4em {
  padding-left: 4em;
}

.padding-5em {
  padding: 5em;
}

.padding-x-5em {
  padding-left: 5em;
  padding-right: 5em;
}

.padding-y-5em {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padding-top-5em {
  padding-top: 5em;
}

.padding-right-5em {
  padding-right: 5em;
}

.padding-bottom-5em {
  padding-bottom: 5em;
}

.padding-left-5em {
  padding-left: 5em;
}

.padding-6em {
  padding: 6em;
}

.padding-x-6em {
  padding-left: 6em;
  padding-right: 6em;
}

.padding-y-6em {
  padding-top: 6em;
  padding-bottom: 6em;
}

.padding-top-6em {
  padding-top: 6em;
}

.padding-right-6em {
  padding-right: 6em;
}

.padding-bottom-6em {
  padding-bottom: 6em;
}

.padding-left-6em {
  padding-left: 6em;
}

.padding-7em {
  padding: 7em;
}

.padding-x-7em {
  padding-left: 7em;
  padding-right: 7em;
}

.padding-y-7em {
  padding-top: 7em;
  padding-bottom: 7em;
}

.padding-top-7em {
  padding-top: 7em;
}

.padding-right-7em {
  padding-right: 7em;
}

.padding-bottom-7em {
  padding-bottom: 7em;
}

.padding-left-7em {
  padding-left: 7em;
}

.padding-8em {
  padding: 8em;
}

.padding-x-8em {
  padding-left: 8em;
  padding-right: 8em;
}

.padding-y-8em {
  padding-top: 8em;
  padding-bottom: 8em;
}

.padding-top-8em {
  padding-top: 8em;
}

.padding-right-8em {
  padding-right: 8em;
}

.padding-bottom-8em {
  padding-bottom: 8em;
}

.padding-left-8em {
  padding-left: 8em;
}

.padding-9em {
  padding: 9em;
}

.padding-x-9em {
  padding-left: 9em;
  padding-right: 9em;
}

.padding-y-9em {
  padding-top: 9em;
  padding-bottom: 9em;
}

.padding-top-9em {
  padding-top: 9em;
}

.padding-right-9em {
  padding-right: 9em;
}

.padding-bottom-9em {
  padding-bottom: 9em;
}

.padding-left-9em {
  padding-left: 9em;
}

.padding-10em {
  padding: 10em;
}

.padding-x-10em {
  padding-left: 10em;
  padding-right: 10em;
}

.padding-y-10em {
  padding-top: 10em;
  padding-bottom: 10em;
}

.padding-top-10em {
  padding-top: 10em;
}

.padding-right-10em {
  padding-right: 10em;
}

.padding-bottom-10em {
  padding-bottom: 10em;
}

.padding-left-10em {
  padding-left: 10em;
}

.padding-20em {
  padding: 20em;
}

.padding-x-20em {
  padding-left: 20em;
  padding-right: 20em;
}

.padding-y-20em {
  padding-top: 20em;
  padding-bottom: 20em;
}

.padding-top-20em {
  padding-top: 20em;
}

.padding-right-20em {
  padding-right: 20em;
}

.padding-bottom-20em {
  padding-bottom: 20em;
}

.padding-left-20em {
  padding-left: 20em;
}

.padding-30em {
  padding: 30em;
}

.padding-x-30em {
  padding-left: 30em;
  padding-right: 30em;
}

.padding-y-30em {
  padding-top: 30em;
  padding-bottom: 30em;
}

.padding-top-30em {
  padding-top: 30em;
}

.padding-right-30em {
  padding-right: 30em;
}

.padding-bottom-30em {
  padding-bottom: 30em;
}

.padding-left-30em {
  padding-left: 30em;
}

.padding-40em {
  padding: 40em;
}

.padding-x-40em {
  padding-left: 40em;
  padding-right: 40em;
}

.padding-y-40em {
  padding-top: 40em;
  padding-bottom: 40em;
}

.padding-top-40em {
  padding-top: 40em;
}

.padding-right-40em {
  padding-right: 40em;
}

.padding-bottom-40em {
  padding-bottom: 40em;
}

.padding-left-40em {
  padding-left: 40em;
}

.padding-50em {
  padding: 50em;
}

.padding-x-50em {
  padding-left: 50em;
  padding-right: 50em;
}

.padding-y-50em {
  padding-top: 50em;
  padding-bottom: 50em;
}

.padding-top-50em {
  padding-top: 50em;
}

.padding-right-50em {
  padding-right: 50em;
}

.padding-bottom-50em {
  padding-bottom: 50em;
}

.padding-left-50em {
  padding-left: 50em;
}

.padding-60em {
  padding: 60em;
}

.padding-x-60em {
  padding-left: 60em;
  padding-right: 60em;
}

.padding-y-60em {
  padding-top: 60em;
  padding-bottom: 60em;
}

.padding-top-60em {
  padding-top: 60em;
}

.padding-right-60em {
  padding-right: 60em;
}

.padding-bottom-60em {
  padding-bottom: 60em;
}

.padding-left-60em {
  padding-left: 60em;
}

.padding-80em {
  padding: 80em;
}

.padding-x-80em {
  padding-left: 80em;
  padding-right: 80em;
}

.padding-y-80em {
  padding-top: 80em;
  padding-bottom: 80em;
}

.padding-top-80em {
  padding-top: 80em;
}

.padding-right-80em {
  padding-right: 80em;
}

.padding-bottom-80em {
  padding-bottom: 80em;
}

.padding-left-80em {
  padding-left: 80em;
}

.padding-5 {
  padding: 5%;
}

.padding-x-5 {
  padding-left: 5%;
  padding-right: 5%;
}

.padding-y-5 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.padding-top-5 {
  padding-top: 5%;
}

.padding-right-5 {
  padding-right: 5%;
}

.padding-bottom-5 {
  padding-bottom: 5%;
}

.padding-left-5 {
  padding-left: 5%;
}

.padding-10 {
  padding: 10%;
}

.padding-x-10 {
  padding-left: 10%;
  padding-right: 10%;
}

.padding-y-10 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.padding-top-10 {
  padding-top: 10%;
}

.padding-right-10 {
  padding-right: 10%;
}

.padding-bottom-10 {
  padding-bottom: 10%;
}

.padding-left-10 {
  padding-left: 10%;
}

.padding-20 {
  padding: 20%;
}

.padding-x-20 {
  padding-left: 20%;
  padding-right: 20%;
}

.padding-y-20 {
  padding-top: 20%;
  padding-bottom: 20%;
}

.padding-top-20 {
  padding-top: 20%;
}

.padding-right-20 {
  padding-right: 20%;
}

.padding-bottom-20 {
  padding-bottom: 20%;
}

.padding-left-20 {
  padding-left: 20%;
}

.padding-25 {
  padding: 25%;
}

.padding-x-25 {
  padding-left: 25%;
  padding-right: 25%;
}

.padding-y-25 {
  padding-top: 25%;
  padding-bottom: 25%;
}

.padding-top-25 {
  padding-top: 25%;
}

.padding-right-25 {
  padding-right: 25%;
}

.padding-bottom-25 {
  padding-bottom: 25%;
}

.padding-left-25 {
  padding-left: 25%;
}

.padding-33 {
  padding: 33%;
}

.padding-x-33 {
  padding-left: 33%;
  padding-right: 33%;
}

.padding-y-33 {
  padding-top: 33%;
  padding-bottom: 33%;
}

.padding-top-33 {
  padding-top: 33%;
}

.padding-right-33 {
  padding-right: 33%;
}

.padding-bottom-33 {
  padding-bottom: 33%;
}

.padding-left-33 {
  padding-left: 33%;
}

.padding-50 {
  padding: 50%;
}

.padding-x-50 {
  padding-left: 50%;
  padding-right: 50%;
}

.padding-y-50 {
  padding-top: 50%;
  padding-bottom: 50%;
}

.padding-top-50 {
  padding-top: 50%;
}

.padding-right-50 {
  padding-right: 50%;
}

.padding-bottom-50 {
  padding-bottom: 50%;
}

.padding-left-50 {
  padding-left: 50%;
}

.padding-67 {
  padding: 66.6666%;
}

.padding-x-67 {
  padding-left: 66.6666%;
  padding-right: 66.6666%;
}

.padding-y-67 {
  padding-top: 66.6666%;
  padding-bottom: 66.6666%;
}

.padding-top-67 {
  padding-top: 66.6666%;
}

.padding-right-67 {
  padding-right: 66.6666%;
}

.padding-bottom-67 {
  padding-bottom: 66.6666%;
}

.padding-left-67 {
  padding-left: 66.6666%;
}

.padding-75 {
  padding: 75%;
}

.padding-x-75 {
  padding-left: 75%;
  padding-right: 75%;
}

.padding-y-75 {
  padding-top: 75%;
  padding-bottom: 75%;
}

.padding-top-75 {
  padding-top: 75%;
}

.padding-right-75 {
  padding-right: 75%;
}

.padding-bottom-75 {
  padding-bottom: 75%;
}

.padding-left-75 {
  padding-left: 75%;
}

.padding-80 {
  padding: 80%;
}

.padding-x-80 {
  padding-left: 80%;
  padding-right: 80%;
}

.padding-y-80 {
  padding-top: 80%;
  padding-bottom: 80%;
}

.padding-top-80 {
  padding-top: 80%;
}

.padding-right-80 {
  padding-right: 80%;
}

.padding-bottom-80 {
  padding-bottom: 80%;
}

.padding-left-80 {
  padding-left: 80%;
}

.padding-90 {
  padding: 90%;
}

.padding-x-90 {
  padding-left: 90%;
  padding-right: 90%;
}

.padding-y-90 {
  padding-top: 90%;
  padding-bottom: 90%;
}

.padding-top-90 {
  padding-top: 90%;
}

.padding-right-90 {
  padding-right: 90%;
}

.padding-bottom-90 {
  padding-bottom: 90%;
}

.padding-left-90 {
  padding-left: 90%;
}

.padding-95 {
  padding: 95%;
}

.padding-x-95 {
  padding-left: 95%;
  padding-right: 95%;
}

.padding-y-95 {
  padding-top: 95%;
  padding-bottom: 95%;
}

.padding-top-95 {
  padding-top: 95%;
}

.padding-right-95 {
  padding-right: 95%;
}

.padding-bottom-95 {
  padding-bottom: 95%;
}

.padding-left-95 {
  padding-left: 95%;
}

.padding-100 {
  padding: 100%;
}

.padding-x-100 {
  padding-left: 100%;
  padding-right: 100%;
}

.padding-y-100 {
  padding-top: 100%;
  padding-bottom: 100%;
}

.padding-top-100 {
  padding-top: 100%;
}

.padding-right-100 {
  padding-right: 100%;
}

.padding-bottom-100 {
  padding-bottom: 100%;
}

.padding-left-100 {
  padding-left: 100%;
}

.padding-mobile {
  padding: 20em;
}

.padding-x-mobile {
  padding-left: 20em;
  padding-right: 20em;
}

.padding-y-mobile {
  padding-top: 20em;
  padding-bottom: 20em;
}

.padding-top-mobile {
  padding-top: 20em;
}

.padding-right-mobile {
  padding-right: 20em;
}

.padding-bottom-mobile {
  padding-bottom: 20em;
}

.padding-left-mobile {
  padding-left: 20em;
}

.padding-mobile-lg {
  padding: 30em;
}

.padding-x-mobile-lg {
  padding-left: 30em;
  padding-right: 30em;
}

.padding-y-mobile-lg {
  padding-top: 30em;
  padding-bottom: 30em;
}

.padding-top-mobile-lg {
  padding-top: 30em;
}

.padding-right-mobile-lg {
  padding-right: 30em;
}

.padding-bottom-mobile-lg {
  padding-bottom: 30em;
}

.padding-left-mobile-lg {
  padding-left: 30em;
}

.padding-tablet {
  padding: 40em;
}

.padding-x-tablet {
  padding-left: 40em;
  padding-right: 40em;
}

.padding-y-tablet {
  padding-top: 40em;
  padding-bottom: 40em;
}

.padding-top-tablet {
  padding-top: 40em;
}

.padding-right-tablet {
  padding-right: 40em;
}

.padding-bottom-tablet {
  padding-bottom: 40em;
}

.padding-left-tablet {
  padding-left: 40em;
}

.padding-tablet-lg {
  padding: 55em;
}

.padding-x-tablet-lg {
  padding-left: 55em;
  padding-right: 55em;
}

.padding-y-tablet-lg {
  padding-top: 55em;
  padding-bottom: 55em;
}

.padding-top-tablet-lg {
  padding-top: 55em;
}

.padding-right-tablet-lg {
  padding-right: 55em;
}

.padding-bottom-tablet-lg {
  padding-bottom: 55em;
}

.padding-left-tablet-lg {
  padding-left: 55em;
}

.padding-desktop {
  padding: 64em;
}

.padding-x-desktop {
  padding-left: 64em;
  padding-right: 64em;
}

.padding-y-desktop {
  padding-top: 64em;
  padding-bottom: 64em;
}

.padding-top-desktop {
  padding-top: 64em;
}

.padding-right-desktop {
  padding-right: 64em;
}

.padding-bottom-desktop {
  padding-bottom: 64em;
}

.padding-left-desktop {
  padding-left: 64em;
}

.padding-desktop-lg {
  padding: 75em;
}

.padding-x-desktop-lg {
  padding-left: 75em;
  padding-right: 75em;
}

.padding-y-desktop-lg {
  padding-top: 75em;
  padding-bottom: 75em;
}

.padding-top-desktop-lg {
  padding-top: 75em;
}

.padding-right-desktop-lg {
  padding-right: 75em;
}

.padding-bottom-desktop-lg {
  padding-bottom: 75em;
}

.padding-left-desktop-lg {
  padding-left: 75em;
}

.padding-widescreen {
  padding: 87.5em;
}

.padding-x-widescreen {
  padding-left: 87.5em;
  padding-right: 87.5em;
}

.padding-y-widescreen {
  padding-top: 87.5em;
  padding-bottom: 87.5em;
}

.padding-top-widescreen {
  padding-top: 87.5em;
}

.padding-right-widescreen {
  padding-right: 87.5em;
}

.padding-bottom-widescreen {
  padding-bottom: 87.5em;
}

.padding-left-widescreen {
  padding-left: 87.5em;
}

.padding-viewport {
  padding: 100vh;
}

.padding-x-viewport {
  padding-left: 100vh;
  padding-right: 100vh;
}

.padding-y-viewport {
  padding-top: 100vh;
  padding-bottom: 100vh;
}

.padding-top-viewport {
  padding-top: 100vh;
}

.padding-right-viewport {
  padding-right: 100vh;
}

.padding-bottom-viewport {
  padding-bottom: 100vh;
}

.padding-left-viewport {
  padding-left: 100vh;
}

.padding-neg-1px {
  padding: -1px;
}

.padding-x-neg-1px {
  padding-left: -1px;
  padding-right: -1px;
}

.padding-y-neg-1px {
  padding-top: -1px;
  padding-bottom: -1px;
}

.padding-top-neg-1px {
  padding-top: -1px;
}

.padding-right-neg-1px {
  padding-right: -1px;
}

.padding-bottom-neg-1px {
  padding-bottom: -1px;
}

.padding-left-neg-1px {
  padding-left: -1px;
}

.padding-neg-2px {
  padding: -2px;
}

.padding-x-neg-2px {
  padding-left: -2px;
  padding-right: -2px;
}

.padding-y-neg-2px {
  padding-top: -2px;
  padding-bottom: -2px;
}

.padding-top-neg-2px {
  padding-top: -2px;
}

.padding-right-neg-2px {
  padding-right: -2px;
}

.padding-bottom-neg-2px {
  padding-bottom: -2px;
}

.padding-left-neg-2px {
  padding-left: -2px;
}

.padding-neg-05 {
  padding: -0.25em;
}

.padding-x-neg-05 {
  padding-left: -0.25em;
  padding-right: -0.25em;
}

.padding-y-neg-05 {
  padding-top: -0.25em;
  padding-bottom: -0.25em;
}

.padding-top-neg-05 {
  padding-top: -0.25em;
}

.padding-right-neg-05 {
  padding-right: -0.25em;
}

.padding-bottom-neg-05 {
  padding-bottom: -0.25em;
}

.padding-left-neg-05 {
  padding-left: -0.25em;
}

.padding-neg-1 {
  padding: -0.5em;
}

.padding-x-neg-1 {
  padding-left: -0.5em;
  padding-right: -0.5em;
}

.padding-y-neg-1 {
  padding-top: -0.5em;
  padding-bottom: -0.5em;
}

.padding-top-neg-1 {
  padding-top: -0.5em;
}

.padding-right-neg-1 {
  padding-right: -0.5em;
}

.padding-bottom-neg-1 {
  padding-bottom: -0.5em;
}

.padding-left-neg-1 {
  padding-left: -0.5em;
}

.padding-neg-105 {
  padding: -0.75em;
}

.padding-x-neg-105 {
  padding-left: -0.75em;
  padding-right: -0.75em;
}

.padding-y-neg-105 {
  padding-top: -0.75em;
  padding-bottom: -0.75em;
}

.padding-top-neg-105 {
  padding-top: -0.75em;
}

.padding-right-neg-105 {
  padding-right: -0.75em;
}

.padding-bottom-neg-105 {
  padding-bottom: -0.75em;
}

.padding-left-neg-105 {
  padding-left: -0.75em;
}

.padding-neg-2 {
  padding: -1em;
}

.padding-x-neg-2 {
  padding-left: -1em;
  padding-right: -1em;
}

.padding-y-neg-2 {
  padding-top: -1em;
  padding-bottom: -1em;
}

.padding-top-neg-2 {
  padding-top: -1em;
}

.padding-right-neg-2 {
  padding-right: -1em;
}

.padding-bottom-neg-2 {
  padding-bottom: -1em;
}

.padding-left-neg-2 {
  padding-left: -1em;
}

.padding-neg-205 {
  padding: -1.25em;
}

.padding-x-neg-205 {
  padding-left: -1.25em;
  padding-right: -1.25em;
}

.padding-y-neg-205 {
  padding-top: -1.25em;
  padding-bottom: -1.25em;
}

.padding-top-neg-205 {
  padding-top: -1.25em;
}

.padding-right-neg-205 {
  padding-right: -1.25em;
}

.padding-bottom-neg-205 {
  padding-bottom: -1.25em;
}

.padding-left-neg-205 {
  padding-left: -1.25em;
}

.padding-neg-3 {
  padding: -1.5em;
}

.padding-x-neg-3 {
  padding-left: -1.5em;
  padding-right: -1.5em;
}

.padding-y-neg-3 {
  padding-top: -1.5em;
  padding-bottom: -1.5em;
}

.padding-top-neg-3 {
  padding-top: -1.5em;
}

.padding-right-neg-3 {
  padding-right: -1.5em;
}

.padding-bottom-neg-3 {
  padding-bottom: -1.5em;
}

.padding-left-neg-3 {
  padding-left: -1.5em;
}

.padding-neg-4 {
  padding: -2em;
}

.padding-x-neg-4 {
  padding-left: -2em;
  padding-right: -2em;
}

.padding-y-neg-4 {
  padding-top: -2em;
  padding-bottom: -2em;
}

.padding-top-neg-4 {
  padding-top: -2em;
}

.padding-right-neg-4 {
  padding-right: -2em;
}

.padding-bottom-neg-4 {
  padding-bottom: -2em;
}

.padding-left-neg-4 {
  padding-left: -2em;
}

.padding-neg-5 {
  padding: -2.5em;
}

.padding-x-neg-5 {
  padding-left: -2.5em;
  padding-right: -2.5em;
}

.padding-y-neg-5 {
  padding-top: -2.5em;
  padding-bottom: -2.5em;
}

.padding-top-neg-5 {
  padding-top: -2.5em;
}

.padding-right-neg-5 {
  padding-right: -2.5em;
}

.padding-bottom-neg-5 {
  padding-bottom: -2.5em;
}

.padding-left-neg-5 {
  padding-left: -2.5em;
}

.padding-neg-6 {
  padding: -3em;
}

.padding-x-neg-6 {
  padding-left: -3em;
  padding-right: -3em;
}

.padding-y-neg-6 {
  padding-top: -3em;
  padding-bottom: -3em;
}

.padding-top-neg-6 {
  padding-top: -3em;
}

.padding-right-neg-6 {
  padding-right: -3em;
}

.padding-bottom-neg-6 {
  padding-bottom: -3em;
}

.padding-left-neg-6 {
  padding-left: -3em;
}

.padding-neg-7 {
  padding: -3.5em;
}

.padding-x-neg-7 {
  padding-left: -3.5em;
  padding-right: -3.5em;
}

.padding-y-neg-7 {
  padding-top: -3.5em;
  padding-bottom: -3.5em;
}

.padding-top-neg-7 {
  padding-top: -3.5em;
}

.padding-right-neg-7 {
  padding-right: -3.5em;
}

.padding-bottom-neg-7 {
  padding-bottom: -3.5em;
}

.padding-left-neg-7 {
  padding-left: -3.5em;
}

.padding-neg-8 {
  padding: -4em;
}

.padding-x-neg-8 {
  padding-left: -4em;
  padding-right: -4em;
}

.padding-y-neg-8 {
  padding-top: -4em;
  padding-bottom: -4em;
}

.padding-top-neg-8 {
  padding-top: -4em;
}

.padding-right-neg-8 {
  padding-right: -4em;
}

.padding-bottom-neg-8 {
  padding-bottom: -4em;
}

.padding-left-neg-8 {
  padding-left: -4em;
}

.padding-neg-9 {
  padding: -4.5em;
}

.padding-x-neg-9 {
  padding-left: -4.5em;
  padding-right: -4.5em;
}

.padding-y-neg-9 {
  padding-top: -4.5em;
  padding-bottom: -4.5em;
}

.padding-top-neg-9 {
  padding-top: -4.5em;
}

.padding-right-neg-9 {
  padding-right: -4.5em;
}

.padding-bottom-neg-9 {
  padding-bottom: -4.5em;
}

.padding-left-neg-9 {
  padding-left: -4.5em;
}

.padding-neg-10 {
  padding: -5em;
}

.padding-x-neg-10 {
  padding-left: -5em;
  padding-right: -5em;
}

.padding-y-neg-10 {
  padding-top: -5em;
  padding-bottom: -5em;
}

.padding-top-neg-10 {
  padding-top: -5em;
}

.padding-right-neg-10 {
  padding-right: -5em;
}

.padding-bottom-neg-10 {
  padding-bottom: -5em;
}

.padding-left-neg-10 {
  padding-left: -5em;
}

.padding-neg-15 {
  padding: -7.5em;
}

.padding-x-neg-15 {
  padding-left: -7.5em;
  padding-right: -7.5em;
}

.padding-y-neg-15 {
  padding-top: -7.5em;
  padding-bottom: -7.5em;
}

.padding-top-neg-15 {
  padding-top: -7.5em;
}

.padding-right-neg-15 {
  padding-right: -7.5em;
}

.padding-bottom-neg-15 {
  padding-bottom: -7.5em;
}

.padding-left-neg-15 {
  padding-left: -7.5em;
}

.padding-sm {
  padding: 0.125em;
}

.padding-x-sm {
  padding-left: 0.125em;
  padding-right: 0.125em;
}

.padding-y-sm {
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}

.padding-top-sm {
  padding-top: 0.125em;
}

.padding-right-sm {
  padding-right: 0.125em;
}

.padding-bottom-sm {
  padding-bottom: 0.125em;
}

.padding-left-sm {
  padding-left: 0.125em;
}

.padding-md {
  padding: 0.25em;
}

.padding-x-md {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.padding-y-md {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.padding-top-md {
  padding-top: 0.25em;
}

.padding-right-md {
  padding-right: 0.25em;
}

.padding-bottom-md {
  padding-bottom: 0.25em;
}

.padding-left-md {
  padding-left: 0.25em;
}

.padding-lg {
  padding: 0.5em;
}

.padding-x-lg {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.padding-y-lg {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.padding-top-lg {
  padding-top: 0.5em;
}

.padding-right-lg {
  padding-right: 0.5em;
}

.padding-bottom-lg {
  padding-bottom: 0.5em;
}

.padding-left-lg {
  padding-left: 0.5em;
}

.padding-pill {
  padding: 99rem;
}

.padding-x-pill {
  padding-left: 99rem;
  padding-right: 99rem;
}

.padding-y-pill {
  padding-top: 99rem;
  padding-bottom: 99rem;
}

.padding-top-pill {
  padding-top: 99rem;
}

.padding-right-pill {
  padding-right: 99rem;
}

.padding-bottom-pill {
  padding-bottom: 99rem;
}

.padding-left-pill {
  padding-left: 99rem;
}

.padding-full {
  padding: 100%;
}

.padding-x-full {
  padding-left: 100%;
  padding-right: 100%;
}

.padding-y-full {
  padding-top: 100%;
  padding-bottom: 100%;
}

.padding-top-full {
  padding-top: 100%;
}

.padding-right-full {
  padding-right: 100%;
}

.padding-bottom-full {
  padding-bottom: 100%;
}

.padding-left-full {
  padding-left: 100%;
}

.padding-width {
  padding: 100%;
}

.padding-x-width {
  padding-left: 100%;
  padding-right: 100%;
}

.padding-y-width {
  padding-top: 100%;
  padding-bottom: 100%;
}

.padding-top-width {
  padding-top: 100%;
}

.padding-right-width {
  padding-right: 100%;
}

.padding-bottom-width {
  padding-bottom: 100%;
}

.padding-left-width {
  padding-left: 100%;
}

.padding-wide {
  padding: 100%;
}

.padding-x-wide {
  padding-left: 100%;
  padding-right: 100%;
}

.padding-y-wide {
  padding-top: 100%;
  padding-bottom: 100%;
}

.padding-top-wide {
  padding-top: 100%;
}

.padding-right-wide {
  padding-right: 100%;
}

.padding-bottom-wide {
  padding-bottom: 100%;
}

.padding-left-wide {
  padding-left: 100%;
}

.padding-auto {
  padding: auto;
}

.padding-x-auto {
  padding-left: auto;
  padding-right: auto;
}

.padding-y-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.padding-top-auto {
  padding-top: auto;
}

.padding-right-auto {
  padding-right: auto;
}

.padding-bottom-auto {
  padding-bottom: auto;
}

.padding-left-auto {
  padding-left: auto;
}

.padding-inherit {
  padding: inherit;
}

.padding-x-inherit {
  padding-left: inherit;
  padding-right: inherit;
}

.padding-y-inherit {
  padding-top: inherit;
  padding-bottom: inherit;
}

.padding-top-inherit {
  padding-top: inherit;
}

.padding-right-inherit {
  padding-right: inherit;
}

.padding-bottom-inherit {
  padding-bottom: inherit;
}

.padding-left-inherit {
  padding-left: inherit;
}

.padding-initial {
  padding: initial;
}

.padding-x-initial {
  padding-left: initial;
  padding-right: initial;
}

.padding-y-initial {
  padding-top: initial;
  padding-bottom: initial;
}

.padding-top-initial {
  padding-top: initial;
}

.padding-right-initial {
  padding-right: initial;
}

.padding-bottom-initial {
  padding-bottom: initial;
}

.padding-left-initial {
  padding-left: initial;
}

.padding-none {
  padding: none;
}

.padding-x-none {
  padding-left: none;
  padding-right: none;
}

.padding-y-none {
  padding-top: none;
  padding-bottom: none;
}

.padding-top-none {
  padding-top: none;
}

.padding-right-none {
  padding-right: none;
}

.padding-bottom-none {
  padding-bottom: none;
}

.padding-left-none {
  padding-left: none;
}/*# sourceMappingURL=padding.css.map */