/* Padding */
@import '../variables';

.padding-x {
  padding-left: 12%;
  padding-right: 12%;
}

.padding-bottom {
  padding-bottom: 12%;
}

/* Each Loop to Generate Classes */
@each $padding-name,
$padding in $spacing-units-array {
  .padding-#{$padding-name} {
    padding: #{$padding};
  }

  .padding-x-#{$padding-name} {
    padding-left: #{$padding};
    padding-right: #{$padding};
  }

  .padding-y-#{$padding-name} {
    padding-top: #{$padding};
    padding-bottom: #{$padding};
  }

  .padding-top-#{$padding-name} {
    padding-top: #{$padding};
  }

  .padding-right-#{$padding-name} {
    padding-right: #{$padding};
  }

  .padding-bottom-#{$padding-name} {
    padding-bottom: #{$padding};
  }

  .padding-left-#{$padding-name} {
    padding-left: #{$padding};
  }
}