@import '../variables';

.position-static,
.static {
  position: static;
}

.position-absolute,
.absolute {
  position: absolute;
}

.position-fixed,
.fixed {
  position: fixed;
}

.position-relative,
.relative {
  position: relative;
}

.position-sticky,
.sticky {
  position: sticky;
}

.position-initial,
.intial {
  position: initial;
}

.position-inherit {
  position: inherit;
}

.top-0,
.top {
  top: 0;
}

.right-0,
.right {
  right: 0;
}

.bottom-0,
.bottom {
  bottom: 0;
}

.left-0,
.left {
  left: 0;
}

.position-fixed-0,
.fixed-0 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.position-absolute-0,
.absolute-0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Each Loop to Generate Classes */
@each $unit-name,
$unit in $spacing-units-array {
  .top-#{$unit-name} {
    top: #{$unit};
  }

  .right-#{$unit-name} {
    right: #{$unit};
  }

  .bottom-#{$unit-name} {
    bottom: #{$unit};
  }

  .left-#{$unit-name} {
    left: #{$unit};
  }
}

.pin-top {
  top: 0 !important;
  position: absolute !important;
}

.pin-right {
  right: 0 !important;
  position: absolute !important;
}

.pin-bottom {
  bottom: 0 !important;
  position: absolute !important;
}

.pin-left {
  left: 0 !important;
  position: absolute !important;
}

.pin-x {
  left: 0 !important;
  right: 0 !important;
  position: absolute !important;
}

.pin-y {
  top: 0 !important;
  bottom: 0 !important;
  position: absolute !important;
}

.pin-all,
.absolute-0 {
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  position: absolute !important;
}

.pin-none {
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  top: auto !important;
  position: static !important;
}