/* Start Vertical Align */
$vertical-align-array: (baseline, sub, super, top, text-top, middle, bottom, text-bottom, inherit, initial);

/* Each Loop to Generate Classes */
@each $vertical-align in $vertical-align-array {

  .vertical-align-#{$vertical-align},
  .text-#{$vertical-align},
  .#{$vertical-align} {
    vertical-align: #{$vertical-align};
  }
}

$vertical-align-pairs-array: ("tbottom":"text-bottom",
  "ttop":"text-top",
);

/* Each Loop to Generate Classes */
@each $vertical-align-name,
$vertical-align in $vertical-align-pairs-array {

  .vertical-align-#{$vertical-align-name},
  .text-#{$vertical-align-name},
  .#{$vertical-align-name} {
    vertical-align: #{$vertical-align};
  }
}

/* END Vertical Align */