/* Each Loop to Generate Classes */
.width-0 {
  width: 0;
}

.max-width-0,
.maxw-0 {
  max-width: 0;
}

.min-width-0,
.minw-0 {
  min-width: 0;
}

.width-1px {
  width: 1px;
}

.max-width-1px,
.maxw-1px {
  max-width: 1px;
}

.min-width-1px,
.minw-1px {
  min-width: 1px;
}

.width-2px {
  width: 2px;
}

.max-width-2px,
.maxw-2px {
  max-width: 2px;
}

.min-width-2px,
.minw-2px {
  min-width: 2px;
}

.width-3px {
  width: 3px;
}

.max-width-3px,
.maxw-3px {
  max-width: 3px;
}

.min-width-3px,
.minw-3px {
  min-width: 3px;
}

.width-4px {
  width: 4px;
}

.max-width-4px,
.maxw-4px {
  max-width: 4px;
}

.min-width-4px,
.minw-4px {
  min-width: 4px;
}

.width-5px {
  width: 5px;
}

.max-width-5px,
.maxw-5px {
  max-width: 5px;
}

.min-width-5px,
.minw-5px {
  min-width: 5px;
}

.width-6px {
  width: 6px;
}

.max-width-6px,
.maxw-6px {
  max-width: 6px;
}

.min-width-6px,
.minw-6px {
  min-width: 6px;
}

.width-0_25em {
  width: 0.25em;
}

.max-width-0_25em,
.maxw-0_25em {
  max-width: 0.25em;
}

.min-width-0_25em,
.minw-0_25em {
  min-width: 0.25em;
}

.width-0_33em {
  width: 0.33em;
}

.max-width-0_33em,
.maxw-0_33em {
  max-width: 0.33em;
}

.min-width-0_33em,
.minw-0_33em {
  min-width: 0.33em;
}

.width-0_5em {
  width: 0.5em;
}

.max-width-0_5em,
.maxw-0_5em {
  max-width: 0.5em;
}

.min-width-0_5em,
.minw-0_5em {
  min-width: 0.5em;
}

.width-0_67em {
  width: 0.6667em;
}

.max-width-0_67em,
.maxw-0_67em {
  max-width: 0.6667em;
}

.min-width-0_67em,
.minw-0_67em {
  min-width: 0.6667em;
}

.width-0_75em {
  width: 0.75em;
}

.max-width-0_75em,
.maxw-0_75em {
  max-width: 0.75em;
}

.min-width-0_75em,
.minw-0_75em {
  min-width: 0.75em;
}

.width-1em {
  width: 1em;
}

.max-width-1em,
.maxw-1em {
  max-width: 1em;
}

.min-width-1em,
.minw-1em {
  min-width: 1em;
}

.width-1_25em {
  width: 1.25em;
}

.max-width-1_25em,
.maxw-1_25em {
  max-width: 1.25em;
}

.min-width-1_25em,
.minw-1_25em {
  min-width: 1.25em;
}

.width-1_5em {
  width: 1.5em;
}

.max-width-1_5em,
.maxw-1_5em {
  max-width: 1.5em;
}

.min-width-1_5em,
.minw-1_5em {
  min-width: 1.5em;
}

.width-2em {
  width: 2em;
}

.max-width-2em,
.maxw-2em {
  max-width: 2em;
}

.min-width-2em,
.minw-2em {
  min-width: 2em;
}

.width-3em {
  width: 3em;
}

.max-width-3em,
.maxw-3em {
  max-width: 3em;
}

.min-width-3em,
.minw-3em {
  min-width: 3em;
}

.width-4em {
  width: 4em;
}

.max-width-4em,
.maxw-4em {
  max-width: 4em;
}

.min-width-4em,
.minw-4em {
  min-width: 4em;
}

.width-5em {
  width: 5em;
}

.max-width-5em,
.maxw-5em {
  max-width: 5em;
}

.min-width-5em,
.minw-5em {
  min-width: 5em;
}

.width-6em {
  width: 6em;
}

.max-width-6em,
.maxw-6em {
  max-width: 6em;
}

.min-width-6em,
.minw-6em {
  min-width: 6em;
}

.width-7em {
  width: 7em;
}

.max-width-7em,
.maxw-7em {
  max-width: 7em;
}

.min-width-7em,
.minw-7em {
  min-width: 7em;
}

.width-8em {
  width: 8em;
}

.max-width-8em,
.maxw-8em {
  max-width: 8em;
}

.min-width-8em,
.minw-8em {
  min-width: 8em;
}

.width-9em {
  width: 9em;
}

.max-width-9em,
.maxw-9em {
  max-width: 9em;
}

.min-width-9em,
.minw-9em {
  min-width: 9em;
}

.width-10em {
  width: 10em;
}

.max-width-10em,
.maxw-10em {
  max-width: 10em;
}

.min-width-10em,
.minw-10em {
  min-width: 10em;
}

.width-20em {
  width: 20em;
}

.max-width-20em,
.maxw-20em {
  max-width: 20em;
}

.min-width-20em,
.minw-20em {
  min-width: 20em;
}

.width-30em {
  width: 30em;
}

.max-width-30em,
.maxw-30em {
  max-width: 30em;
}

.min-width-30em,
.minw-30em {
  min-width: 30em;
}

.width-40em {
  width: 40em;
}

.max-width-40em,
.maxw-40em {
  max-width: 40em;
}

.min-width-40em,
.minw-40em {
  min-width: 40em;
}

.width-50em {
  width: 50em;
}

.max-width-50em,
.maxw-50em {
  max-width: 50em;
}

.min-width-50em,
.minw-50em {
  min-width: 50em;
}

.width-60em {
  width: 60em;
}

.max-width-60em,
.maxw-60em {
  max-width: 60em;
}

.min-width-60em,
.minw-60em {
  min-width: 60em;
}

.width-80em {
  width: 80em;
}

.max-width-80em,
.maxw-80em {
  max-width: 80em;
}

.min-width-80em,
.minw-80em {
  min-width: 80em;
}

.width-5 {
  width: 5%;
}

.max-width-5,
.maxw-5 {
  max-width: 5%;
}

.min-width-5,
.minw-5 {
  min-width: 5%;
}

.width-10 {
  width: 10%;
}

.max-width-10,
.maxw-10 {
  max-width: 10%;
}

.min-width-10,
.minw-10 {
  min-width: 10%;
}

.width-20 {
  width: 20%;
}

.max-width-20,
.maxw-20 {
  max-width: 20%;
}

.min-width-20,
.minw-20 {
  min-width: 20%;
}

.width-25 {
  width: 25%;
}

.max-width-25,
.maxw-25 {
  max-width: 25%;
}

.min-width-25,
.minw-25 {
  min-width: 25%;
}

.width-33 {
  width: 33%;
}

.max-width-33,
.maxw-33 {
  max-width: 33%;
}

.min-width-33,
.minw-33 {
  min-width: 33%;
}

.width-50 {
  width: 50%;
}

.max-width-50,
.maxw-50 {
  max-width: 50%;
}

.min-width-50,
.minw-50 {
  min-width: 50%;
}

.width-67 {
  width: 66.6666%;
}

.max-width-67,
.maxw-67 {
  max-width: 66.6666%;
}

.min-width-67,
.minw-67 {
  min-width: 66.6666%;
}

.width-75 {
  width: 75%;
}

.max-width-75,
.maxw-75 {
  max-width: 75%;
}

.min-width-75,
.minw-75 {
  min-width: 75%;
}

.width-80 {
  width: 80%;
}

.max-width-80,
.maxw-80 {
  max-width: 80%;
}

.min-width-80,
.minw-80 {
  min-width: 80%;
}

.width-90 {
  width: 90%;
}

.max-width-90,
.maxw-90 {
  max-width: 90%;
}

.min-width-90,
.minw-90 {
  min-width: 90%;
}

.width-95 {
  width: 95%;
}

.max-width-95,
.maxw-95 {
  max-width: 95%;
}

.min-width-95,
.minw-95 {
  min-width: 95%;
}

.width-100 {
  width: 100%;
}

.max-width-100,
.maxw-100 {
  max-width: 100%;
}

.min-width-100,
.minw-100 {
  min-width: 100%;
}

.width-mobile {
  width: 20em;
}

.max-width-mobile,
.maxw-mobile {
  max-width: 20em;
}

.min-width-mobile,
.minw-mobile {
  min-width: 20em;
}

.width-mobile-lg {
  width: 30em;
}

.max-width-mobile-lg,
.maxw-mobile-lg {
  max-width: 30em;
}

.min-width-mobile-lg,
.minw-mobile-lg {
  min-width: 30em;
}

.width-tablet {
  width: 40em;
}

.max-width-tablet,
.maxw-tablet {
  max-width: 40em;
}

.min-width-tablet,
.minw-tablet {
  min-width: 40em;
}

.width-tablet-lg {
  width: 55em;
}

.max-width-tablet-lg,
.maxw-tablet-lg {
  max-width: 55em;
}

.min-width-tablet-lg,
.minw-tablet-lg {
  min-width: 55em;
}

.width-desktop {
  width: 64em;
}

.max-width-desktop,
.maxw-desktop {
  max-width: 64em;
}

.min-width-desktop,
.minw-desktop {
  min-width: 64em;
}

.width-desktop-lg {
  width: 75em;
}

.max-width-desktop-lg,
.maxw-desktop-lg {
  max-width: 75em;
}

.min-width-desktop-lg,
.minw-desktop-lg {
  min-width: 75em;
}

.width-widescreen {
  width: 87.5em;
}

.max-width-widescreen,
.maxw-widescreen {
  max-width: 87.5em;
}

.min-width-widescreen,
.minw-widescreen {
  min-width: 87.5em;
}

.width-viewport {
  width: 100vh;
}

.max-width-viewport,
.maxw-viewport {
  max-width: 100vh;
}

.min-width-viewport,
.minw-viewport {
  min-width: 100vh;
}

.width-neg-1px {
  width: -1px;
}

.max-width-neg-1px,
.maxw-neg-1px {
  max-width: -1px;
}

.min-width-neg-1px,
.minw-neg-1px {
  min-width: -1px;
}

.width-neg-2px {
  width: -2px;
}

.max-width-neg-2px,
.maxw-neg-2px {
  max-width: -2px;
}

.min-width-neg-2px,
.minw-neg-2px {
  min-width: -2px;
}

.width-neg-05 {
  width: -0.25em;
}

.max-width-neg-05,
.maxw-neg-05 {
  max-width: -0.25em;
}

.min-width-neg-05,
.minw-neg-05 {
  min-width: -0.25em;
}

.width-neg-1 {
  width: -0.5em;
}

.max-width-neg-1,
.maxw-neg-1 {
  max-width: -0.5em;
}

.min-width-neg-1,
.minw-neg-1 {
  min-width: -0.5em;
}

.width-neg-105 {
  width: -0.75em;
}

.max-width-neg-105,
.maxw-neg-105 {
  max-width: -0.75em;
}

.min-width-neg-105,
.minw-neg-105 {
  min-width: -0.75em;
}

.width-neg-2 {
  width: -1em;
}

.max-width-neg-2,
.maxw-neg-2 {
  max-width: -1em;
}

.min-width-neg-2,
.minw-neg-2 {
  min-width: -1em;
}

.width-neg-205 {
  width: -1.25em;
}

.max-width-neg-205,
.maxw-neg-205 {
  max-width: -1.25em;
}

.min-width-neg-205,
.minw-neg-205 {
  min-width: -1.25em;
}

.width-neg-3 {
  width: -1.5em;
}

.max-width-neg-3,
.maxw-neg-3 {
  max-width: -1.5em;
}

.min-width-neg-3,
.minw-neg-3 {
  min-width: -1.5em;
}

.width-neg-4 {
  width: -2em;
}

.max-width-neg-4,
.maxw-neg-4 {
  max-width: -2em;
}

.min-width-neg-4,
.minw-neg-4 {
  min-width: -2em;
}

.width-neg-5 {
  width: -2.5em;
}

.max-width-neg-5,
.maxw-neg-5 {
  max-width: -2.5em;
}

.min-width-neg-5,
.minw-neg-5 {
  min-width: -2.5em;
}

.width-neg-6 {
  width: -3em;
}

.max-width-neg-6,
.maxw-neg-6 {
  max-width: -3em;
}

.min-width-neg-6,
.minw-neg-6 {
  min-width: -3em;
}

.width-neg-7 {
  width: -3.5em;
}

.max-width-neg-7,
.maxw-neg-7 {
  max-width: -3.5em;
}

.min-width-neg-7,
.minw-neg-7 {
  min-width: -3.5em;
}

.width-neg-8 {
  width: -4em;
}

.max-width-neg-8,
.maxw-neg-8 {
  max-width: -4em;
}

.min-width-neg-8,
.minw-neg-8 {
  min-width: -4em;
}

.width-neg-9 {
  width: -4.5em;
}

.max-width-neg-9,
.maxw-neg-9 {
  max-width: -4.5em;
}

.min-width-neg-9,
.minw-neg-9 {
  min-width: -4.5em;
}

.width-neg-10 {
  width: -5em;
}

.max-width-neg-10,
.maxw-neg-10 {
  max-width: -5em;
}

.min-width-neg-10,
.minw-neg-10 {
  min-width: -5em;
}

.width-neg-15 {
  width: -7.5em;
}

.max-width-neg-15,
.maxw-neg-15 {
  max-width: -7.5em;
}

.min-width-neg-15,
.minw-neg-15 {
  min-width: -7.5em;
}

.width-sm {
  width: 0.125em;
}

.max-width-sm,
.maxw-sm {
  max-width: 0.125em;
}

.min-width-sm,
.minw-sm {
  min-width: 0.125em;
}

.width-md {
  width: 0.25em;
}

.max-width-md,
.maxw-md {
  max-width: 0.25em;
}

.min-width-md,
.minw-md {
  min-width: 0.25em;
}

.width-lg {
  width: 0.5em;
}

.max-width-lg,
.maxw-lg {
  max-width: 0.5em;
}

.min-width-lg,
.minw-lg {
  min-width: 0.5em;
}

.width-pill {
  width: 99rem;
}

.max-width-pill,
.maxw-pill {
  max-width: 99rem;
}

.min-width-pill,
.minw-pill {
  min-width: 99rem;
}

.width-full {
  width: 100%;
}

.max-width-full,
.maxw-full {
  max-width: 100%;
}

.min-width-full,
.minw-full {
  min-width: 100%;
}

.width-width {
  width: 100%;
}

.max-width-width,
.maxw-width {
  max-width: 100%;
}

.min-width-width,
.minw-width {
  min-width: 100%;
}

.width-wide {
  width: 100%;
}

.max-width-wide,
.maxw-wide {
  max-width: 100%;
}

.min-width-wide,
.minw-wide {
  min-width: 100%;
}

.width-auto {
  width: auto;
}

.max-width-auto,
.maxw-auto {
  max-width: auto;
}

.min-width-auto,
.minw-auto {
  min-width: auto;
}

.width-inherit {
  width: inherit;
}

.max-width-inherit,
.maxw-inherit {
  max-width: inherit;
}

.min-width-inherit,
.minw-inherit {
  min-width: inherit;
}

.width-initial {
  width: initial;
}

.max-width-initial,
.maxw-initial {
  max-width: initial;
}

.min-width-initial,
.minw-initial {
  min-width: initial;
}

.width-none {
  width: none;
}

.max-width-none,
.maxw-none {
  max-width: none;
}

.min-width-none,
.minw-none {
  min-width: none;
}

.measure-1 {
  max-width: 44ex !important;
}

.measure-2 {
  max-width: 60ex !important;
}

.measure-3 {
  max-width: 64ex !important;
}

.measure-4 {
  max-width: 68ex !important;
}

.measure-5 {
  max-width: 72ex !important;
}

.measure-6 {
  max-width: 88ex !important;
}

.measure-none {
  max-width: none !important;
}/*# sourceMappingURL=width.css.map */