@page {
  margin: 12%;
}
@media print {
  body {
    display: table;
    background: none;
    color: black;
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body > header {
    display: table-header-group;
  }
  
  body > main {
    display: table-column-group;
  }
  
  body > footer {
    display: table-footer-group;
  }
  
  a:after {
    content: " [" attr(href) "] ";
  }
  
  .p-display-none, .hide-print, .hidden-print, .noprint, .no-print {
    display: none !important;
  }
  
}