@media screen {
  .row {
    display: flex;
    flex-wrap: wrap;
    transition: all ease 1s;
  }

  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    transition: all ease 1s;
  }

  .col {
    flex: 1 0 0%;
    transition: all ease 1s;
  }

  .col.width-auto,
.col-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-1 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-2 {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }

  .col-3 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }

  .col-4 {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }

  .col-responsive {
    flex: 0 0 auto;
    width: 100%;
  }
}
/* Mobile Only */
@media screen and (max-width: 40em) {
  .row {
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1.375em;
  }

  .col-sm.width-auto,
.col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }

  .col-responsive {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }
}
/* Tablet */
@media screen and (min-width: 40em) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.375em;
    row-gap: 1.375em;
  }

  .col-md.width-auto,
.col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }

  .col-responsive {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }
}
/* Desktop */
@media screen and (min-width: 80em) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.375em;
    row-gap: 1.375em;
  }

  .col-lg.width-auto,
.col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }

  .col-responsive {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }
}
/* Large Desktop */
@media screen and (min-width: 100em) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.375em;
    row-gap: 1.375em;
  }

  .col-xl.width-auto,
.col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }

  .col-responsive {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }
}/*# sourceMappingURL=row.css.map */