@media screen {
  .row {
    display: flex;
    flex-wrap: wrap;
    transition: all ease 1s;
  }

  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    transition: all ease 1s;
  }

  .col {
    flex: 1 0 0%;
    transition: all ease 1s;
  }

  .column-gap,
.col-gap {
    column-gap: 1.375em;
  }

  .col.width-auto,
.col-auto,
.col-width-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-1 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-2 {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }

  .col-3 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }

  .col-4 {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }

  .col-responsive {
    flex: 0 0 auto;
    width: 100%;
  }
}
/* Mobile Only */
@media screen and (max-width: 40em) {
  .row {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .col-sm.width-auto,
.col-sm-auto,
.col-auto-sm {
    flex: 0 0 auto;
    width: auto;
  }

  .col-1-sm,
.col-sm-1 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-2-sm,
.col-sm-2 {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }

  .col-3-sm,
.col-sm-3 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }

  .col-4-sm,
.col-sm-4 {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }

  .col-responsive {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }
}
/* Tablet */
@media screen and (min-width: 40em) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.375em;
    row-gap: 1.375em;
  }

  .col-md.width-auto,
.col-auto-md,
.col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-1-md,
.col-md-1 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-2-md,
.col-md-2 {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }

  .col-3-md,
.col-md-3 {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }

  .col-4-md,
.col-md-4 {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }

  .col-responsive {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }
}
/* Desktop */
@media screen and (min-width: 80em) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.375em;
    row-gap: 1.375em;
  }

  .col-lg.width-auto,
.col-lg-auto,
.col-auto-lg {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1,
.col-1-lg {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-lg-2,
.col-2-lg {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }

  .col-lg-3,
.col-3-lg {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }

  .col-lg-4,
.col-4-lg {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }

  .col-responsive {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }
}
/* Large Desktop */
@media screen and (min-width: 100em) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.375em;
    row-gap: 1.375em;
  }

  .col-xl.width-auto,
.col-xl-auto,
.col-auto-xl {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1,
.col-1-xl {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-xl-2,
.col-2-xl {
    flex: 0 0 auto;
    width: calc(50% - 1.0625em);
  }

  .col-xl-3,
.col-3-xl {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 1.0625em);
  }

  .col-xl-4,
.col-4-xl {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }

  .col-responsive {
    flex: 0 0 auto;
    width: calc(25% - 1.0625em);
  }
}/*# sourceMappingURL=row.css.map */