.circle {
  border-radius: 50%;
}

/* Each Loop to Generate Classes */
.circle-0 {
  border-radius: 50%;
  height: 0;
  width: 0;
}

.square-0 {
  height: 0;
  width: 0;
}

.circle-1px {
  border-radius: 50%;
  height: 1px;
  width: 1px;
}

.square-1px {
  height: 1px;
  width: 1px;
}

.circle-2px {
  border-radius: 50%;
  height: 2px;
  width: 2px;
}

.square-2px {
  height: 2px;
  width: 2px;
}

.circle-3px {
  border-radius: 50%;
  height: 3px;
  width: 3px;
}

.square-3px {
  height: 3px;
  width: 3px;
}

.circle-4px {
  border-radius: 50%;
  height: 4px;
  width: 4px;
}

.square-4px {
  height: 4px;
  width: 4px;
}

.circle-5px {
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.square-5px {
  height: 5px;
  width: 5px;
}

.circle-6px {
  border-radius: 50%;
  height: 6px;
  width: 6px;
}

.square-6px {
  height: 6px;
  width: 6px;
}

.circle-0_25em {
  border-radius: 50%;
  height: 0.25em;
  width: 0.25em;
}

.square-0_25em {
  height: 0.25em;
  width: 0.25em;
}

.circle-0_33em {
  border-radius: 50%;
  height: 0.33em;
  width: 0.33em;
}

.square-0_33em {
  height: 0.33em;
  width: 0.33em;
}

.circle-0_5em {
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
}

.square-0_5em {
  height: 0.5em;
  width: 0.5em;
}

.circle-0_67em {
  border-radius: 50%;
  height: 0.6667em;
  width: 0.6667em;
}

.square-0_67em {
  height: 0.6667em;
  width: 0.6667em;
}

.circle-0_75em {
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
}

.square-0_75em {
  height: 0.75em;
  width: 0.75em;
}

.circle-1em {
  border-radius: 50%;
  height: 1em;
  width: 1em;
}

.square-1em {
  height: 1em;
  width: 1em;
}

.circle-1_25em {
  border-radius: 50%;
  height: 1.25em;
  width: 1.25em;
}

.square-1_25em {
  height: 1.25em;
  width: 1.25em;
}

.circle-1_5em {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
}

.square-1_5em {
  height: 1.5em;
  width: 1.5em;
}

.circle-2em {
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.square-2em {
  height: 2em;
  width: 2em;
}

.circle-3em {
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

.square-3em {
  height: 3em;
  width: 3em;
}

.circle-4em {
  border-radius: 50%;
  height: 4em;
  width: 4em;
}

.square-4em {
  height: 4em;
  width: 4em;
}

.circle-5em {
  border-radius: 50%;
  height: 5em;
  width: 5em;
}

.square-5em {
  height: 5em;
  width: 5em;
}

.circle-6em {
  border-radius: 50%;
  height: 6em;
  width: 6em;
}

.square-6em {
  height: 6em;
  width: 6em;
}

.circle-7em {
  border-radius: 50%;
  height: 7em;
  width: 7em;
}

.square-7em {
  height: 7em;
  width: 7em;
}

.circle-8em {
  border-radius: 50%;
  height: 8em;
  width: 8em;
}

.square-8em {
  height: 8em;
  width: 8em;
}

.circle-9em {
  border-radius: 50%;
  height: 9em;
  width: 9em;
}

.square-9em {
  height: 9em;
  width: 9em;
}

.circle-10em {
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

.square-10em {
  height: 10em;
  width: 10em;
}

.circle-20em {
  border-radius: 50%;
  height: 20em;
  width: 20em;
}

.square-20em {
  height: 20em;
  width: 20em;
}

.circle-30em {
  border-radius: 50%;
  height: 30em;
  width: 30em;
}

.square-30em {
  height: 30em;
  width: 30em;
}

.circle-40em {
  border-radius: 50%;
  height: 40em;
  width: 40em;
}

.square-40em {
  height: 40em;
  width: 40em;
}

.circle-50em {
  border-radius: 50%;
  height: 50em;
  width: 50em;
}

.square-50em {
  height: 50em;
  width: 50em;
}

.circle-60em {
  border-radius: 50%;
  height: 60em;
  width: 60em;
}

.square-60em {
  height: 60em;
  width: 60em;
}

.circle-80em {
  border-radius: 50%;
  height: 80em;
  width: 80em;
}

.square-80em {
  height: 80em;
  width: 80em;
}

.circle-5 {
  border-radius: 50%;
  height: 5%;
  width: 5%;
}

.square-5 {
  height: 5%;
  width: 5%;
}

.circle-10 {
  border-radius: 50%;
  height: 10%;
  width: 10%;
}

.square-10 {
  height: 10%;
  width: 10%;
}

.circle-20 {
  border-radius: 50%;
  height: 20%;
  width: 20%;
}

.square-20 {
  height: 20%;
  width: 20%;
}

.circle-25 {
  border-radius: 50%;
  height: 25%;
  width: 25%;
}

.square-25 {
  height: 25%;
  width: 25%;
}

.circle-33 {
  border-radius: 50%;
  height: 33%;
  width: 33%;
}

.square-33 {
  height: 33%;
  width: 33%;
}

.circle-50 {
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.square-50 {
  height: 50%;
  width: 50%;
}

.circle-67 {
  border-radius: 50%;
  height: 66.6666%;
  width: 66.6666%;
}

.square-67 {
  height: 66.6666%;
  width: 66.6666%;
}

.circle-75 {
  border-radius: 50%;
  height: 75%;
  width: 75%;
}

.square-75 {
  height: 75%;
  width: 75%;
}

.circle-80 {
  border-radius: 50%;
  height: 80%;
  width: 80%;
}

.square-80 {
  height: 80%;
  width: 80%;
}

.circle-90 {
  border-radius: 50%;
  height: 90%;
  width: 90%;
}

.square-90 {
  height: 90%;
  width: 90%;
}

.circle-95 {
  border-radius: 50%;
  height: 95%;
  width: 95%;
}

.square-95 {
  height: 95%;
  width: 95%;
}

.circle-100 {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.square-100 {
  height: 100%;
  width: 100%;
}

.circle-mobile {
  border-radius: 50%;
  height: 20em;
  width: 20em;
}

.square-mobile {
  height: 20em;
  width: 20em;
}

.circle-mobile-lg {
  border-radius: 50%;
  height: 30em;
  width: 30em;
}

.square-mobile-lg {
  height: 30em;
  width: 30em;
}

.circle-tablet {
  border-radius: 50%;
  height: 40em;
  width: 40em;
}

.square-tablet {
  height: 40em;
  width: 40em;
}

.circle-tablet-lg {
  border-radius: 50%;
  height: 55em;
  width: 55em;
}

.square-tablet-lg {
  height: 55em;
  width: 55em;
}

.circle-desktop {
  border-radius: 50%;
  height: 64em;
  width: 64em;
}

.square-desktop {
  height: 64em;
  width: 64em;
}

.circle-desktop-lg {
  border-radius: 50%;
  height: 75em;
  width: 75em;
}

.square-desktop-lg {
  height: 75em;
  width: 75em;
}

.circle-widescreen {
  border-radius: 50%;
  height: 87.5em;
  width: 87.5em;
}

.square-widescreen {
  height: 87.5em;
  width: 87.5em;
}

.circle-viewport {
  border-radius: 50%;
  height: 100vh;
  width: 100vh;
}

.square-viewport {
  height: 100vh;
  width: 100vh;
}

.circle-neg-1px {
  border-radius: 50%;
  height: -1px;
  width: -1px;
}

.square-neg-1px {
  height: -1px;
  width: -1px;
}

.circle-neg-2px {
  border-radius: 50%;
  height: -2px;
  width: -2px;
}

.square-neg-2px {
  height: -2px;
  width: -2px;
}

.circle-neg-05 {
  border-radius: 50%;
  height: -0.25em;
  width: -0.25em;
}

.square-neg-05 {
  height: -0.25em;
  width: -0.25em;
}

.circle-neg-1 {
  border-radius: 50%;
  height: -0.5em;
  width: -0.5em;
}

.square-neg-1 {
  height: -0.5em;
  width: -0.5em;
}

.circle-neg-105 {
  border-radius: 50%;
  height: -0.75em;
  width: -0.75em;
}

.square-neg-105 {
  height: -0.75em;
  width: -0.75em;
}

.circle-neg-2 {
  border-radius: 50%;
  height: -1em;
  width: -1em;
}

.square-neg-2 {
  height: -1em;
  width: -1em;
}

.circle-neg-205 {
  border-radius: 50%;
  height: -1.25em;
  width: -1.25em;
}

.square-neg-205 {
  height: -1.25em;
  width: -1.25em;
}

.circle-neg-3 {
  border-radius: 50%;
  height: -1.5em;
  width: -1.5em;
}

.square-neg-3 {
  height: -1.5em;
  width: -1.5em;
}

.circle-neg-4 {
  border-radius: 50%;
  height: -2em;
  width: -2em;
}

.square-neg-4 {
  height: -2em;
  width: -2em;
}

.circle-neg-5 {
  border-radius: 50%;
  height: -2.5em;
  width: -2.5em;
}

.square-neg-5 {
  height: -2.5em;
  width: -2.5em;
}

.circle-neg-6 {
  border-radius: 50%;
  height: -3em;
  width: -3em;
}

.square-neg-6 {
  height: -3em;
  width: -3em;
}

.circle-neg-7 {
  border-radius: 50%;
  height: -3.5em;
  width: -3.5em;
}

.square-neg-7 {
  height: -3.5em;
  width: -3.5em;
}

.circle-neg-8 {
  border-radius: 50%;
  height: -4em;
  width: -4em;
}

.square-neg-8 {
  height: -4em;
  width: -4em;
}

.circle-neg-9 {
  border-radius: 50%;
  height: -4.5em;
  width: -4.5em;
}

.square-neg-9 {
  height: -4.5em;
  width: -4.5em;
}

.circle-neg-10 {
  border-radius: 50%;
  height: -5em;
  width: -5em;
}

.square-neg-10 {
  height: -5em;
  width: -5em;
}

.circle-neg-15 {
  border-radius: 50%;
  height: -7.5em;
  width: -7.5em;
}

.square-neg-15 {
  height: -7.5em;
  width: -7.5em;
}

.circle-sm {
  border-radius: 50%;
  height: 0.125em;
  width: 0.125em;
}

.square-sm {
  height: 0.125em;
  width: 0.125em;
}

.circle-md {
  border-radius: 50%;
  height: 0.25em;
  width: 0.25em;
}

.square-md {
  height: 0.25em;
  width: 0.25em;
}

.circle-lg {
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
}

.square-lg {
  height: 0.5em;
  width: 0.5em;
}

.circle-pill {
  border-radius: 50%;
  height: 99rem;
  width: 99rem;
}

.square-pill {
  height: 99rem;
  width: 99rem;
}

.circle-full {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.square-full {
  height: 100%;
  width: 100%;
}

.circle-width {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.square-width {
  height: 100%;
  width: 100%;
}

.circle-wide {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.square-wide {
  height: 100%;
  width: 100%;
}

.circle-auto {
  border-radius: 50%;
  height: auto;
  width: auto;
}

.square-auto {
  height: auto;
  width: auto;
}

.circle-inherit {
  border-radius: 50%;
  height: inherit;
  width: inherit;
}

.square-inherit {
  height: inherit;
  width: inherit;
}

.circle-initial {
  border-radius: 50%;
  height: initial;
  width: initial;
}

.square-initial {
  height: initial;
  width: initial;
}

.circle-none {
  border-radius: 50%;
  height: none;
  width: none;
}

.square-none {
  height: none;
  width: none;
}/*# sourceMappingURL=shapes.css.map */