/* START text.scss */
@import '../variables';

@media screen {


  .hyphens-none {
    hyphens: none;
  }

  .hyphens-auto {
    hyphens: auto;
  }

  .hyphens-manual {
    hyphens: manual;
  }

  .hanging-punctuation-none {
    hanging-punctuation: none;
  }

  .text-align-left,
  .text-left,
  .left {
    text-align: left;
  }

  .text-align-right,
  .text-right,
  .right {
    text-align: right;
  }

  .text-align-center,
  .text-center,
  .center {
    text-align: center;
  }

  .text-align-justify,
  .text-justify,
  .justify {
    text-align: justify;
  }

  .text-align-last-center {
    text-align-last: center;
  }

  .text-align-last-left {
    text-align-last: left;
  }

  .text-align-last-right {
    text-align-last: right;
  }

  .text-align-last-center {
    text-align-last: center;
  }

  .text-align-last-justify {
    text-align-last: justify;
  }

  .text-align-last-start {
    text-align-last: start;
  }

  .text-align-last-end {
    text-align-last: end;
  }

  .text-decoration-line-line-through,
  .text-strike,
  .line-through {
    text-decoration-line: line-through;
  }

  .text-decoration-line-overline,
  .overline {
    text-decoration-line: overline;
  }

  .text-decoration-line-underline,
  .text-underline .underline {
    text-decoration-line: underline;
  }

  .text-decoration-line-none,
  .text-no-strike,
  .text-no-underline {
    text-decoration-line: none !important;
  }

  .text-decoration-style-dashed,
  .dashed {
    text-decoration-style: dashed;
  }

  .text-decoration-style-dotted,
  .dotted {
    text-decoration-style: dotted;
  }

  .text-decoration-style-double,
  .double {
    text-decoration-style: double;
  }

  .text-decoration-style-solid,
  .solid {
    text-decoration-style: solid;
  }

  .text-decoration-style-wavy,
  .wavy {
    text-decoration-style: wavy;
  }

  .text-indent {
    text-indent: 0.5in;
  }

  @each $unit-name,
  $unit in $spacing-units-array {
    .text-indent-#{$unit-name} {
      text-indent: #{$unit};
    }
  }

  .text-italic {
    font-style: italic;
  }

  .text-no-italic {
    font-style: normal;
  }

  .text-justify-inter-character {
    text-justify: inter-character;
  }

  .text-justify-inter-word {
    text-justify: inter-word;
  }

  .text-overflow-clip,
  .clip {
    text-overflow: clip;
  }

  .text-overflow-ellipsis,
  .ellipsis {
    text-overflow: ellipsis;
  }

  /* text-shadow: h-shadow v-shadow blur-radius color */
  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .text-xlarge,
  .text-xl,
  .text-large,
  .text-lg {
    font-size: larger;
  }

  .text-small,
  .text-sm,
  .text-xsmall,
  .text-xs {
    font-size: smaller;
  }

  .text-transform-uppercase,
  .text-uppercase,
  .text-no-lowercase .uppercase {
    text-transform: uppercase;
  }

  .text-transform-capitalize,
  .text-capitalize,
  .capitalize {
    text-transform: capitalize;
  }

  .text-transform-lowercase,
  .text-lowercase,
  .text-no-uppercase,
  .lowercase {
    text-transform: lowercase;
  }

  .text-transform-inherit,
  .text-inherit {
    text-transform: inherit;
  }

  .text-transform-initial,
  .text-initial {
    text-transform: initial;
  }

  .text-transform-none,
  .text-none {
    text-transform: none;
  }

  /* Color */
  /* Each Loop to Generate Classes */
  @each $color-name,
  $color-value in $colors-array {

    .text-color-#{$color-name},
    .text-#{$color-name} {
      color: $color-value;
    }
  }

  /* Underline Color */
  /* Each Loop to Generate Classes */
  @each $color-name,
  $color-value in $colors-array {

    .text-decoration-color-#{$color-name},
    .underline-#{$color-name} {
      text-decoration-color: $color-value;
    }
  }

  $line-heights-array: ("1":"1",
    "2":"2",
    "3":"3",
    "4":"4",
    "5":"5",
    "inherit":"inherit",
    "initial":"intial",

    "mono-1":"1.05",
    "mono-2":"1.21",
    "mono-3":"1.42",
    "mono-4":"1.57",
    "mono-5":"1.7",
    "mono-6":"1.84",

    "sans-1":"0.94",
    "sans-2":"1.08",
    "sans-3":"1.27",
    "sans-4":"1.41",
    "sans-5":"1.52",
    "sans-6":"1.64",

    "serif-1":"1.02",
    "serif-2":"1.18",
    "serif-3":"1.38",
    "serif-4":"1.54",
    "serif-5":"1.66",
    "serif-6":"1.79",
  );


  /* Each Loop to Generate Classes */
  @each $line-height-name,
  $line-height in $line-heights-array {
    .line-height-#{$line-height-name} {
      line-height: #{$line-height};
    }
  }

  .text-contrast,
  .dark .text-contrast,
  .text-contrast.dark {
    color: white;
  }

  .light .text-contrast,
  .text-contrast.light {
    color: black;
  }
}