/* utility.css */
@import '../variables';

@media screen {

  /* Box Sizing */
  .box-sizing-border-box,
  .border-box {
    box-sizing: border-box;
  }

  .box-sizing-content-box,
  .content-box {
    box-sizing: content-box;
  }

  /* Direction */
  .direction-inherit,
  .inherit {
    direction: inherit;
  }

  .direction-initial,
  .initial {
    direction: initial;
  }

  .direction-ltr,
  .ltr {
    direction: ltr;
  }

  .direction-rtl,
  .rtl {
    direction: rtl;
  }

  /* Line Height */
  .line-height-1 {
    line-height: 1;
  }

  .line-height-1_1 {
    line-height: 1.1;
  }

  .line-height-1_2 {
    line-height: 1.2;
  }

  .line-height-1_25 {
    line-height: 1.25;
  }

  .line-height-1_3 {
    line-height: 1.3;
  }

  .line-height-1_4 {
    line-height: 1.4;
  }

  .line-height-1_5 {
    line-height: 1.5;
  }

  .line-height-1_6 {
    line-height: 1.6;
  }

  .line-height-1_7 {
    line-height: 1.7;
  }

  .line-height-1_8 {
    line-height: 1.8;
  }

  .line-height-1_9 {
    line-height: 1.9;
  }

  .line-height-2 {
    line-height: 2;
  }

  .line-height-3 {
    line-height: 3;
  }

  .line-height-4 {
    line-height: 4;
  }

  .line-height-5 {
    line-height: 5;
  }

  .line-height-100 {
    line-height: 100%;
  }

  .list-style-position-inside,
  .list-inside {
    list-style-position: inside;
  }

  .list-style-position-outside,
  .list-outside {
    list-style-position: outside;
  }

  .list-style-type-armenian,
  .list-armenian {
    list-style-type: armenian;
  }

  .margin {
    margin: $margin;
  }

  .margin-top {
    margin-top: $margin;
  }

  .margin-right {
    margin-right: $margin;
  }

  .margin-bottom {
    margin-bottom: $margin;
  }

  .margin-left {
    margin-left: $margin;
  }

  .max-height-auto {
    max-height: auto;
  }

  .max-height-25 {
    max-height: 25%;
  }

  .max-height-50 {
    max-height: 50%;
  }

  .max-height-75 {
    max-height: 75%;
  }

  .max-height-100 {
    max-height: 100%;
  }

  .max-width-auto {
    max-width: auto;
  }

  .max-width-25 {
    max-width: 25%;
  }

  .max-width-50 {
    max-width: 50%;
  }

  .max-width-75 {
    max-width: 75%;
  }

  .max-width-100 {
    max-width: 100%;
  }

  .min-height-auto {
    min-height: auto;
  }

  .min-height-25 {
    min-height: 25%;
  }

  .min-height-50 {
    min-height: 50%;
  }

  .min-height-75 {
    min-height: 75%;
  }

  .min-height-100 {
    min-height: 100%;
  }

  .min-width-auto {
    min-width: auto;
  }

  .min-width-25 {
    min-width: 25%;
  }

  .min-width-50 {
    min-width: 50%;
  }

  .min-width-75 {
    min-width: 75%;
  }

  .min-width-100 {
    min-width: 100%;
  }

  .mix-blend-mode-multiply,
  .multiply {
    mix-blend-mode: multiply;
  }

  .opacity-0 {
    opacity: 0;
  }

  .opacity-5 {
    opacity: 0.05;
  }

  .opacity-10 {
    opacity: 0.10;
  }

  .opacity-15 {
    opacity: 0.15;
  }

  .opacity-20 {
    opacity: 0.20;
  }

  .opacity-25 {
    opacity: 0.25;
  }

  .opacity-30 {
    opacity: 0.30;
  }

  .opacity-33 {
    opacity: 0.33;
  }

  .opacity-40 {
    opacity: 0.40;
  }

  .opacity-50 {
    opacity: 0.50;
  }

  .opacity-60 {
    opacity: 0.60;
  }

  .opacity-67 {
    opacity: 0.67;
  }

  .opacity-70 {
    opacity: 0.70;
  }

  .opacity-75 {
    opacity: 0.75;
  }

  .opacity-80 {
    opacity: 0.80;
  }

  .opacity-90 {
    opacity: 0.90;
  }

  .opacity-95 {
    opacity: 0.95;
  }

  .opacity-100 {
    opacity: 1;
  }

  .outline {
    outline: $outline-width $outline-style;
  }

  .outline-color-red,
  .outline-red {
    outline-color: red;
  }

  .outline-color-error,
  .outline-error {
    outline-color: red;
  }

  .outline-style-none,
  .outline-none {
    outline-style: none;
  }

  .outline-style-hidden,
  .outline-hidden {
    outline-style: hidden;
  }

  .outline-style-dotted,
  .outline-dotted {
    outline-style: dotted;
  }

  .outline-style-dashed,
  .outline-dashed {
    outline-style: dashed;
  }

  .outline-style-solid,
  .outline-solid {
    outline-style: solid;
  }

  .outline-style-double,
  .outline-double {
    outline-style: double;
  }

  .outline-style-groove,
  .outline-groove {
    outline-style: groove;
  }

  .outline-style-ridge,
  .outline-ridge {
    outline-style: ridge;
  }

  .outline-style-inset,
  .outline-inset {
    outline-style: inset;
  }

  .outline-style-outset,
  .outline-outset {
    outline-style: outset;
  }

  .outline-width-thin,
  .outline-thin {
    outline-width: thin;
  }

  .outline-width-medium,
  .outline-medium {
    outline-width: medium;
  }

  .outline-width-thick,
  .outline-thick {
    outline-width: thick;
  }

  .overflow-auto,
  .overflow {
    overflow: auto;
  }

  .overflow-hidden,
  .hidden {
    overflow: hidden;
  }

  .overflow-scroll,
  .scroll {
    overflow: scroll;
  }

  .overflow-visible,
  .visible {
    overflow: visible;
  }

  .padding {
    padding: $padding;
  }

  .padding-top {
    padding-top: $padding;
  }

  .padding-right {
    padding-right: $padding;
  }

  .padding-bottom {
    padding-bottom: $padding;
  }

  .padding-left {
    padding-left: $padding;
  }

  .page-break-after-always {
    page-break-after: always;
  }

  .page-break-after-avoid {
    page-break-after: avoid;
  }

  .page-break-after-left {
    page-break-after: left;
  }

  .page-break-after-right {
    page-break-after: right;
  }

  .page-break-before-always {
    page-break-before: always;
  }

  .page-break-before-avoid {
    page-break-before: avoid;
  }

  .page-break-before-left {
    page-break-before: left;
  }

  .page-break-before-right {
    page-break-before: right;
  }

  .page-break-inside-avoid {
    page-break-inside: avoid;
  }

  .pointer-events-none {
    pointer-events: none;
  }

  .resize,
  .resize-both {
    resize: both;
  }

  .resize-horizontal {
    resize: horizontal;
  }

  .resize-vertical {
    resize: vertical;
  }

  .resize-none {
    resize: none;
  }

  .scroll-behavior-auto {
    scroll-behavior: auto;
  }

  .scroll-behavior-smooth {
    scroll-behavior: smooth;
  }

  .tab-size {
    tab-size: 4;
  }

  .unicode-bidi-bidi-override {
    unicode-bidi: bidi-override;
  }

  .unicode-bidi-normal {
    unicode-bidi: normal;
  }

  .unicode-bidi-embed {
    unicode-bidi: embed;
  }

  .user-select-all {
    user-select: all;
  }

  .user-select-auto {
    user-select: auto;
  }

  .user-select-contain {
    user-select: contain;
  }

  .user-select-none {
    user-select: none;
  }

  .user-select-text {
    user-select: text;
  }

  .vertical-align-baseline,
  .baseline {
    vertical-align: baseline;
  }

  .vertical-align-sub,
  .sub {
    vertical-align: sub;
  }

  .vertical-align-super,
  .super {
    vertical-align: super;
  }

  .vertical-align-top,
  .top {
    vertical-align: top;
  }

  .vertical-align-text-top,
  .text-top {
    vertical-align: text-top;
  }

  .vertical-align-middle,
  .middle {
    vertical-align: middle;
  }

  .vertical-align-bottom,
  .bottom {
    vertical-align: bottom;
  }

  .vertical-align-text-bottom,
  .text-bottom {
    vertical-align: text-bottom;
  }

  .visibility-collapse,
  .collapse {
    visibility: collapse;
  }

  .visibility-hidden,
  .hidden {
    visibility: hidden;
  }

  .visibility-visible,
  .visible {
    visibility: visible;
  }

  .white-space-normal {
    white-space: normal;
  }

  .white-space-nowrap {
    white-space: nowrap;
  }

  .white-space-pre {
    white-space: pre;
  }

  .white-space-pre-line {
    white-space: pre-line;
  }

  .white-space-pre-wrap {
    white-space: pre-wrap;
  }

  .width-auto {
    width: auto;
  }

  .width-100 {
    width: 100%;
  }

  .width-50 {
    width: 50%;
  }

  .width-25 {
    width: 25%;
  }

  .word-break-normal {
    word-break: normal;
  }

  .word-break-break-all,
  .break-all {
    word-break: break-all;
  }

  .word-break-break-word,
  .break-word {
    word-break: break-word;
  }

  .word-break-keep-all,
  .keep-all {
    word-break: keep-all;
  }

  .word-wrap-normal {
    word-wrap: normal;
  }

  .word-wrap-break-word {
    word-wrap: break-word;
  }

  .writing-mode-horizontal-tb {
    writing-mode: horizontal-tb;
  }

  .writing-mode-vertical-rl {
    writing-mode: vertical-rl;
  }

  .writing-mode-vertical-lr {
    writing-mode: vertical-lr;
  }

  .one-unit {
    width: $one-unit-em;
    height: $one-unit-em;
  }
}

/* END utility.css */