@import '../_variables';
:focus, .focus {
  color: $white;
  background-color: $black;
  border-color: $blue;
  outline: thin solid $blue;
  text-decoration-line: none;
}
::-moz-selection { background: $blue; 
  color: $white;}
::selection { background: $blue; 
  color: $white;}